
    <div class="row mt-2">
        <div class="col-sm-12">
            <h3>My deals</h3>
        </div>
        <div class="col-sm-12"></div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="inner h-100">
                    <img class="card-img-top" src="assets/Landon.jpeg" alt="landon">
                </div>
                
                <div class="card-body">
                  <div class="card-text p-0"><span>Landon, </span> United Kindom<br>
                   
                  </div>
                <h6 class="GetPrice">Get Price <span><i class="fas fa-chevron-right"></i></span></h6>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="inner h-100">
                    <img class="card-img-top" src="assets/Bangkok.jpeg" alt="bangkok">
                </div>
                
                <div class="card-body ">
                  <div class="card-text p-0"><span>Bangkok, </span> Thailand<br>
                   
                  </div>
                <h6 class="GetPrice">Get Price <span><i class="fas fa-chevron-right"></i></span></h6>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="inner h-100">
                    <img class="card-img-top" src="assets/Dubai.jpg" alt="bangkok">
                </div>
                
                <div class="card-body ">
                  <div class="card-text p-0"><span>Dubai, </span>UAE<br>
                   
                  </div>
                <h6 class="GetPrice">Get Price <span><i class="fas fa-chevron-right"></i></span></h6>
                </div>
              </div>
        </div>
    </div>
