h2 {
    color: rgb(219, 94, 21);
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

a:active {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

span {
    color: rgb(255, 255, 255);
    font-weight: bold;
}