<div class="row pt-5 pb-5">
    <div class="col-sm-3">
        <h2>Explore</h2>
        <ul>
            <li><a href="#" class="py-2 d-block">Airlines</a></li>
            <li><a href="#" class="py-2 d-block">Airports</a></li>
            <li><a href="#" class="py-2 d-block">Destinations</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h2>Farefinder</h2>
        <ul>
            <li><a routerLink="/about" class="py-2 d-block ">About Us</a></li>
            <li><a href="# " class="py-2 d-block ">Our Story</a></li>
            <li><a href="# " class="py-2 d-block ">Work With Us</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h2>Legal</h2>
        <ul>
            <li><a routerLink="/terms" class="py-2 d-block ">Terms & Conditions</a></li>
            <li><a routerLink="/privacypolicy" class="py-2 d-block ">Privacy Policy</a></li>
            <li><a routerLink="/cookiepolicy" class="py-2 d-block ">Cookie Policy</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h2>Help Center </h2>
        <ul>
            <li><a href="# " class="py-2 d-block ">Searching</a></li>
            <li><a href="# " class="py-2 d-block ">Booking</a></li>
            <li><a href="# " class="py-2 d-block ">Price</a></li>
            <li><a href="# " class="py-2 d-block ">Support</a></li>
        </ul>
    </div>
</div>