<div style="width: 400px; margin: auto;">
    <div *ngIf="currentpost" class="edit-form">
        <h4>Edit Post</h4>
        <form>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="currentpost.city" name="city" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentpost.description" name="description" />
            </div>
            <!-- <div class="form-group">
                <label>Edit Image</label>
                <br>
                <input #myFileInput1 type="file" required id="upload-image-one" accept="image/*" (change)="onSelectFile($event)">
                <img *ngIf="imgURL1" [src]="imgURL1" height="100%" style="height: 100px; width: 100px;">
                <label for="description">Image</label>
                <img class="card-img-top" src="{{ currentpost.img }}">
            </div> -->
            <div class="form-group">
                <label for="description">Image URL</label>
                <input type="text" class="form-control" id="img" [(ngModel)]="currentpost.img" name="img" />
                <img class="card-img-top" src="{{currentpost.img}}" width="1920" height="220" alt="image comes here">
            </div>
        </form>

        <button class="badge badge-danger mr-2" (click)="deletepost()">
        Delete
      </button>

        <button type="submit" class="badge badge-success" (click)="updatepost()">
        Update
      </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentpost">
        <br />
        <p>Cannot access this Post...</p>
    </div>
</div>