/* 

.pH-multi-slider-class .irs-from,
.pH-multi-slider-class .irs-to {
  display: none !important;
}

.pH-multi-slider-class .irs-handle {
  width: 12px !important;
  height: 12px !important;
  top: 15px !important;
  border: 1px solid #d89b2a !important;
  border-radius: unset !important;
}

.pH-multi-slider-class .irs-bar {
  background-color: #05234a !important;
}

.pH-multi-slider-class .irs-bar,
.pH-multi-slider-class .irs-line {
  top: 20px !important;
}

.pH-multi-slider-class .irs-grid {
  top: 27px !important;
  left: 6px !important;
  right: 6px !important;
  height: 1em !important;
}

.pH-multi-slider-class .irs-grid-pol {
  display: none !important;
}


.pH-multi-slider-buffer-class .irs-bar {
  background-color: transparent;
}

.pH-multi-slider-buffer-class .irs-line {
  background-image: linear-gradient(
    to right,
    yellow,
    green,
    rgb(172, 172, 212),
    rgb(113, 82, 170)
  );
  height: 13px;
}

.pH-multi-slider-buffer-class .irs-handle {
  top: 1.9rem !important;
  border: 1px solid #d89b2a !important;
  border-radius: unset !important;
} */
