<div class="list row">

    <div class="col-md-6">
        <h2> Recent Posts</h2>
        <div class="col-md-8">
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let post of posts; let i = index" [class.active]="i == currentIndex" (click)="setActivepost(post, i)">
                {{ post.city }}
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <div *ngIf="currentpost">
            <h4>Post Details</h4>
            <div>
                <label><strong>Title:</strong></label> {{ currentpost.city }}
            </div>
            <div>
                <label><strong>Description:</strong></label> {{ currentpost.description }}
            </div>
            <div>
                <label><strong>Image:</strong></label>
                <img class="card-img-top" src="{{ currentpost.img }}" height="150">
            </div>
            <div>
                <label><strong>Status:</strong></label> {{ currentpost.published ? "Published" : "Pending" }}
            </div>

            <a class="badge badge-warning" routerLink="/posts/{{ currentpost.id }}">
        Edit
      </a>
        </div>

        <div *ngIf="!currentpost">
            <br />
            <p>Please click on a post...</p>
        </div>
    </div>

    <!-- <button mat-raised-button color="primary" class="mt-40" routerLink="/createpost/add">
        Add New <i class="material-icons">add_circle_outline</i>
      </button>

    <div cdkDropList class="example-list mt-20" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let post of posts; let i = index" [class.active]="i == currentIndex" cdkDrag>
            <div class="drag-index">{{i+1}}</div>
            <div class="w-10 drag-icon">
                <i class="material-icons">reorder</i>
            </div>
            <div class="w-100 drag-content">
                <mat-checkbox>{{ post.title }}</mat-checkbox>
            </div>
            <div class="w-10 delete-icon">
                <button mat-icon-button>
              <i class="material-icons">delete_outline</i>
            </button>
            </div>
        </div>
    </div>

    <div class="alert-text">
        Click for drag your Post Order.
    </div> -->