#main {
  position: relative;
  background: #fff;
}

.homepage #content {
  text-align: center;
}

p {
  font-size: 14px;
}

h3 {
  text-align: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
