<hr />
<div id="featured">
    <div class="container">
        <header>
            <h3>COOKIE POLICY</h3>
        </header>
    </div>
    <br>
    <div class="container">
        <header>
            <h6>INTRODUCTION</h6>
        </header>
        <p>Travlin Air Services Ltd with registered address at 27 Old Gloucester Street, London, United Kingdom, WC1N 3AX <strong>(“we”, “us”, “our”)</strong> use cookies on our website at www.farefinder.co.uk <strong>(“Website”)</strong> for identification
            and analysis purposes. By using the Website, you consent to the storing and accessing of cookies and pixels on your device.</p>
        <p>
            This cookie policy <strong>(“Cookie Policy”)</strong> is intended to inform you how we use “cookies” and similar technologies and to assist you in making informed decisions when using our Website. Please take a moment to read and understand
            this Cookie Policy. This Cookie Policy should also be read in conjunction with our <strong> Privacy Policy</strong> and Website <strong> Terms and Conditions.</strong>
        </p>
        <p>
            Cookies and similar technologies are very small text documents or pieces of code, which often include an anonymous unique identifier. When you visit our Website, your device will be asked for permission to store files on your device and access information
            from it. Information gathered through cookies may include the date and time of visits and how you are using our Website.
        </p>
        <p>
            Cookies are used by us as part of our Website.
        </p>
        <p>
            For the purposes of the remaining sections of this Cookie Policy we will refer to all technologies using the above features as “cookies”.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h6>YOU CONSENT TO US USING COOKIES</h6>
        </header>
        <p>By continuing to use our Website you are deemed to consent to our use of the cookies described in this Cookie Policy. If you do not consent to us using cookies then please read the next section.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h6>YOU CAN BLOCK COOKIES</h6>
        </header>
        <p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access
            all or parts of our website.
        </p>
    </div>
    <div class="container">
        <header>
            <h6>WHAT HAPPENS WHEN YOU BLOCK COOKIES</h6>
        </header>
        <p>In order to use some parts of our Website you will need to accept cookies. If you choose to withhold consent, or subsequently block cookies, some aspects of our Website may not work properly, and you may not be able to access all or part of our
            Website.
        </p>
    </div>
    <div class="container">
        <header>
            <h6>WHAT WE DO WITH COOKIES</h6>
        </header>
        <p>We use the following cookies:
        </p>
        <ul>
            <li>
                <strong>Strictly necessary cookies.</strong> These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make
                use of e-billing services.
            </li>
            <li>
                <strong>Analytical or performance cookies.</strong> These allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works,
                for example, by ensuring that users are finding what they are looking for easily.
            </li>
            <li>
                <strong>Functionality cookies.</strong> These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language
                or region).
            </li>
            <li>
                <strong>Targeting cookies.</strong> These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant
                to your interests.

            </li>
        </ul>
    </div>
</div>