#covidbanner {
  width: 100%;
  height: 100px;
  background-color: #0E7BF8;
  align-items: center;
  text-align: left;
}
.bannerlink{
  color: #FFF;
}

#travel {
  margin-top: 10px;
  height: 80px;
  width: 100px;
  margin-left: 450px;
}

#traveltxt {
  color: #fff;
  margin-left: 200px;
  /* margin-right: 400px; */
}

@media only screen and (max-width: 1600px) {
  #travel {
    display: none;
  }
  #covidbanner {
    text-align: center;
  }
  #traveltxt {
    color: #fff;
    margin: auto;
    font-size: x-small;
    /* margin-right: 400px; */
  }
}
