<div id="covidbanner" class="media border border-dark">
  <img
    id="travel"
    class="img-fluid"
    src="assets/passport.svg"
    alt="Poppy field"
  />
  <div id="traveltxt" class="media-body">
    <strong>COVID-19 Travel Advice</strong> <br />
    <li>
      Make sure you are aware Covid-19 restrictions around the World before you
      book.
    </li>
    <li>
      Know about more, please visit
      <a
        class="bannerlink"
        href="https://www.iatatravelcentre.com/world.php"
        target="_blank"
      >
        <strong>IATA live map.</strong>
      </a>
    </li>
  </div>
</div>
