<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <app-topbar></app-topbar>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card">
          <h4 class="card-header">Create New Category</h4>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input
                  type="text"
                  formControlName="categoryName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.categoryName.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.categoryName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.categoryName.errors.required">
                    Category Name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="categoryDescription">Category Description</label>
                <input
                  type="text"
                  formControlName="categoryDescription"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.categoryDescription.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.categoryDescription.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Create
                </button>
                <!-- <a routerLink="../login" class="btn btn-link">Cancel</a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
