<div class="row mt-2">
  <div class="col-sm-12 pt-5">
    <h4>Plan your perfect trip</h4>
    <p>Search Flights, Hotels & Car Hire to our most popular destinations</p>
  </div>
  <div class="col-sm-12"></div>
</div>
<div class="row pb-5 pt-5">
  <div class="col-sm-4 mb-3" *ngFor="let card of cards">
    <div class="card" style="background-color: rgba(155, 155, 155, 0.212)">
      <div class="card-horizontal d-flex">
        <div class="img-square-wrapper">
          <img
            class=""
            src="{{ card.path }}"
            alt="Card image cap"
            style="height: 100px; width: 100px"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ card.Heading }}</strong>
          </h5>
          <p
            class="card-text"
            style="color: rgb(219, 94, 21); font-weight: bold"
          >
            {{ card.subText }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
