<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topbar></app-topbar>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="list row">
          <div class="col-md-6">
            <h3>Destinations List</h3>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let destination of destinations; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActivedestination(destination, i)"
              >
                {{ destination.destinationName }}
              </li>
            </ul>

            <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllcategories()">
                          Remove All
                        </button> -->
          </div>
          <div class="col-md-4">
            <div *ngIf="currentdestination">
              <h4>Destination Details</h4>
              <div>
                <label><strong>Title:</strong></label>
                {{ currentdestination.destinationName }}
              </div>
              <div>
                <label><strong>Image:</strong></label>
                <img
                  class="card-img-top"
                  src="{{ currentdestination.destinationImage }}"
                  height="350"
                />
              </div>
              <button
                class="badge badge-warning mr-2"
                routerLink="/destination/{{ currentdestination.id }}"
              >
                Edit
              </button>
            </div>

            <div *ngIf="!currentdestination">
              <br />
              <p>Please click on a destination</p>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
    </div>
  </div>
</div>
