<div style="width: 400px; margin: auto;">
    <div *ngIf="currentdestination" class="edit-form">
        <h4>Destination</h4>
        <form>
            <div class="form-group">
                <label for="destinationName">Destination Name</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="currentdestination.destinationName" name="destinationName" />
            </div>
            <div class="form-group">
                <label for="destinationImage">Destination Image URL</label>
                <input type="text" class="form-control" id="destinationImage" [(ngModel)]="currentdestination.destinationImage" name="destinationImage" />
            </div>
        </form>

        <button type="submit" class="badge badge-success" (click)="updatedestination()">
        Update
      </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentdestination">
        <br />
        <p>Cannot access this destination...</p>
    </div>
</div>