ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

span {
    color: rgba(11, 70, 160, 0.808);
}

#social {
    float: right
}

img {
    max-width: 25px;
    border: 1px;
    vertical-align: baseline;
}

#Mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #web {
        display: none;
    }
    #Mobile {
        display: contents;
    }
}