<div class="row pt-4 pb-1">
  <div class="col-sm-12">
    <h3>International Sites</h3>
  </div>
</div>
<div class="row pt-1 pb-5" id="web">
  <div class="col-sm-3" *ngFor="let country of Countrys">
    <img src="{{ country.path }}" />
    <a href="{{ country.url }}" target="_blank"
      ><span>&emsp;{{ country.Heading }}</span></a
    >
  </div>
  <div id="socials" class="col-sm-6 text-right">
    <app-social></app-social>
  </div>
</div>

<div class="row pt-1 pb-1" id="Mobile">
  <div class="col-sm-2 pl-0 pr-0">
    <!-- <div class="form-group mb-2">
      <select class="custom-select">
        <option selected>Please select an option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div> -->
    <div class="col-sm-3" *ngFor="let country of Countrys">
      <img src="{{ country.path }}" />
      <a href="{{ country.url }}" target="_blank"
        ><span>&emsp;{{ country.Heading }}</span></a
      >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>Compare cheap flights with Farefinder</p>
  </div>
</div>
