<div class="row" *ngIf="isWeb">
  <div class="col-sm-12">
    <div class="card border-0 rounded-0" id="C1">
      <div class="card-header border-0 rounded-0 bg-light" id="C1_H">
        <div class="container">
          <ul>
            <li class="nav-item">
              <a
                class="nav-link active"
                id="C1_H1"
                data-toggle="pill"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                type="button"
              >
                <span class="fas fa-plane"></span> &nbsp; Flights
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                id="C1_H1"
                data-toggle="pill"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                type="button"
              >
                <span class="fas fa-hotel"></span> &nbsp; Hotels
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                id="C1_H1"
                data-toggle="pill"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                type="button"
              >
                <span class="fas fa-car"></span> &nbsp; Car Hire
              </a>
            </li>
            
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body pt-5 pr-0 pl-0">
              <h4 class="card-title pb-3" id="C1_BT">Explore Your Holiday!</h4>

              <div id="CARD_INNER_BODY" style="color: white">
                <form [formGroup]="Form" autocomplete="off">
                  <!-- #region Radio btn-->
                  <div class="row pl-2">
                    <div class="col-xs-4">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="customRadio"
                          id="customRadio1"
                          (click)="ReturnClick()"
                          checked
                        />
                        <label class="custom-control-label" for="customRadio1"
                          >Return&nbsp;&nbsp;</label
                        >
                      </div>
                    </div>

                    <div class="col-xs-4">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="optradio"
                          name="customRadio"
                          id="customRadio2"
                          (click)="OnewayClick()"
                        />
                        <label class="custom-control-label" for="customRadio2"
                          >One way&nbsp;&nbsp;</label
                        >
                      </div>
                    </div>

                    <div class="col-xs-4">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="customRadio"
                          id="customRadio3"
                          (click)="MultiCityClick()"
                        />
                        <label class="custom-control-label" for="customRadio3"
                          >Multi City&nbsp;&nbsp;</label
                        >
                      </div>
                    </div>
                  </div>

                  <!-- #region Return And One way-->
                  <div id="rtn_OneWay" class="pt-3 pl-2 pr-2" [style]="style_R">
                    <div class="row" id="rtn_OneWay_1row">
                      <div class="col-sm-3 pr-0 pl-0">
                        <div class="form-group">
                          <label>From</label>

                          <div class="input-group">
                            <input
                              [typeahead]="states"
                              [typeaheadItemTemplate]="TemplatePickFlight"
                              typeaheadOptionField="searchName"
                              [isAnimated]="true"
                              class="form-control"
                              formControlName="ro_From"
                              placeholder="Country,City or airport"
                            />

                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-exchange-alt"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-2 pl-0 pr-0">
                        <div class="form-group">
                          <label>To</label>

                          <input
                            [typeahead]="states"
                            [typeaheadItemTemplate]="TemplatePickFlight"
                            typeaheadOptionField="searchName"
                            [isAnimated]="true"
                            class="form-control"
                            formControlName="ro_To"
                            placeholder="Country,City or airport"
                          />
                        </div>
                      </div>

                      <div class="col-sm-2 pl-0 pr-0">
                        <div class="form-group">
                          <label>Depart</label>
                          <div class="input-group mb-2">
                            <input
                              class="form-control border"
                              formControlName="ro_Depart"
                              placeholder="YYYY-MM-DD"
                              type="text"
                              id="datePickerDeparture"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-2 pl-0 pr-0">
                        <div class="form-group">
                          <label>Return</label>
                          <div class="input-group mb-2">
                            <input
                              class="form-control border"
                              formControlName="ro_Return"
                              placeholder="YYYY-MM-DD"
                              type="text"
                              id="datePickerReturn"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-3 pl-0 pr-0">
                        <label>Cabin Class & Travellers</label>

                        <div class="dropdown">
                          <button
                            id="ToTextEnd"
                            style="vertical-align: baseline"
                            class="btn btn-light dropdown-toggle w-100"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            id="cabinClassToggleOneWayWeb"
                            data-display="static"
                          >
                            <span class="float-left"
                              >{{ travelCount }}&nbsp;{{ travellers }},&nbsp;{{
                                selectCabin
                              }}</span
                            >
                            <i class="fas fa-caret-down float-right"></i>
                          </button>

                          <div
                            class="dropdown-menu pt-2"
                            id="cabinClassMenuOneWayWeb"
                            aria-labelledby="cabinClassToggleOneWayWeb"
                          >
                            <div class="container-fluid" style="width: 300px">
                              <div class="row">
                                <div class="col-sm-12">
                                  <label> Cabin class</label>

                                  <select
                                    class="custom-select"
                                    (change)="selectOption($event.target.value)"
                                  >
                                    <option value="Economy">Economy</option>
                                    <option value="Premium Economy">
                                      Premium Economy
                                    </option>
                                    <option value="Business Class">
                                      Business Class
                                    </option>
                                    <option value="First Class">
                                      First Class
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="row pt-2">
                                <div class="col-sm-1">
                                  <label>Adults</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 d-flex">
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="adultsMin()"
                                    [disabled]="btnadlMinDisable"
                                  >
                                    <i class="fas fa-minus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <h4>{{ adultsCount }}</h4>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="adultsPlus()"
                                    [disabled]="btnadlPlusDisable"
                                  >
                                    <i class="fas fa-plus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;
                                  <span style="font-size: medium"
                                    >16+ Year</span
                                  >
                                </div>
                              </div>
                              <div class="row pt-2">
                                <div class="col-sm-1">
                                  <label>Children</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 d-flex">
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="childsMin()"
                                    [disabled]="btnChildMinDisable"
                                  >
                                    <i class="fas fa-minus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <h4>{{ childCount }}</h4>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="childsPlus()"
                                    [disabled]="btnchildPlusDisable"
                                  >
                                    <i class="fas fa-plus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;
                                  <span style="font-size: medium"
                                    >0 - 15 Year</span
                                  >
                                </div>
                              </div>

                              <div class="row pt-1">
                                <div class="col-sm-12">
                                  <table
                                    class="table table-borderless"
                                    style="color: white"
                                  >
                                    <tbody formArrayName="childrenV2">
                                      <tr
                                        *ngFor="
                                          let children of Form.get(
                                            'childrenV2'
                                          )['controls'];
                                          let ch = index
                                        "
                                        [formGroupName]="ch"
                                      >
                                        <label style="color: black"
                                          >Age of child&nbsp;{{ ch + 1 }}</label
                                        >
                                        <select
                                          class="custom-select"
                                          formControlName="Age"
                                        >
                                          <option
                                            selected="selected"
                                            disabled
                                            value="-1"
                                          >
                                            Select age
                                          </option>
                                          <option
                                            value="{{ item }}"
                                            *ngFor="
                                              let item of [
                                                0,
                                                1,
                                                2,
                                                3,
                                                4,
                                                5,
                                                6,
                                                7,
                                                8,
                                                9,
                                                10,
                                                11,
                                                12,
                                                13,
                                                14,
                                                15
                                              ];
                                              index as i
                                            "
                                          >
                                            {{ item }}
                                          </option>
                                        </select>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>

                            <div class="container-fluid">
                              <div class="row pt-1">
                                <div class="col-sm-12">
                                  <p
                                    class="pb-0 mb-0 pt-1 ml-0 mr-0"
                                    style="font-size: xx-small"
                                  >
                                    Your age at time of travel must be valid for
                                    the age category booked. Airlines have
                                    restrictions on under 18s travelling alone.
                                    Age limits and policies for travelling with
                                    children may vary so please check with the
                                    airline before booking.
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="cabinClassTravellersDropdownFooter">
                              <button
                                type="button"
                                class="btn btn-link float-right"
                                data-dismiss="toggle"
                              >
                                Done
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" id="rtn_OneWay_2row">
                      <div class="col-sm-3 pr-0 pl-0">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input
                              formControlName="ro_F_addN"
                              type="checkbox"
                              class="custom-control-input"
                              id="customCheck1"
                              name="example1"
                            />
                            <label
                              class="custom-control-label"
                              for="customCheck1"
                              >Add nearby airports</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-3 pr-0 pl-0">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input
                              formControlName="ro_T_addN"
                              type="checkbox"
                              class="custom-control-input"
                              id="customCheck2"
                              name="example2"
                            />
                            <label
                              class="custom-control-label"
                              for="customCheck2"
                              >Add nearby airports</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" id="rtn_OneWay_3row">
                      <div class="col-sm-3 pr-0 pl-0">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input
                              formControlName="ro_Direct"
                              type="checkbox"
                              class="custom-control-input"
                              id="customCheck3"
                              name="example3"
                            />
                            <label
                              class="custom-control-label"
                              for="customCheck3"
                              >Direct Filghts Only</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 pr-0 pl-0"></div>
                      <div class="col-sm-3 pr-0 pl-0">
                        <button
                          type="button"
                          class="btn btn-info float-right pl-5 pr-5 pt-2 pb-2"
                          style="font-weight: bold; font-size: large"
                          (click)="onSearch()"
                        >
                          Search Now
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- #endregion Return And One way-->

                  <!-- #region Multi City-->
                  <div id="M_city" [style]="style_M">
                    <table class="table table-borderless" style="color: white">
                      <tbody formArrayName="m_City">
                        <tr
                          *ngFor="
                            let city of Form.get('m_City')['controls'];
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td>
                            <div class="form-group">
                              <div class="input-group">
                                <input
                                  [typeahead]="states"
                                  [typeaheadItemTemplate]="TemplatePickFlight"
                                  typeaheadOptionField="searchName"
                                  [isAnimated]="true"
                                  class="form-control"
                                  formControlName="m_From"
                                  placeholder="Country,City or airport"
                                />
                              </div>
                            </div>
                          </td>

                          <td>
                            <button
                              type="button"
                              class="btn pl-1 pr-1"
                              style="
                                font-weight: bold;
                                font-size: large;
                                color: white;
                              "
                            >
                              <i
                                class="fas fa-caret-right"
                                style="font-size: 24px"
                              ></i>
                            </button>
                          </td>

                          <td>
                            <div class="form-group">
                              <div class="input-group">
                                <input
                                  [typeahead]="states"
                                  [typeaheadItemTemplate]="TemplatePickFlight"
                                  typeaheadOptionField="searchName"
                                  [isAnimated]="true"
                                  class="form-control"
                                  formControlName="m_To"
                                  placeholder="Country,City or airport"
                                />
                              </div>
                            </div>
                          </td>

                          <td>
                            <div class="form-group">
                              <div class="input-group mb-2">
                                <input
                                  formControlName="m_date"
                                  class="form-control"
                                  id="{{ 'datePickerMultiWay' + (i + 1) }}"
                                  name="{{ 'datePickerMultiWay' + (i + 1) }}"
                                  type="text"
                                  placeholder="YYYY-MM-DD"
                                  (ngInit)="
                                    onApplyPickerMultiWay(
                                      'web',
                                      'datePickerMultiWay' + (i + 1),
                                      i
                                    )
                                  "
                                />
                              </div>
                            </div>
                          </td>

                          <td>
                            <button
                              type="button"
                              class="btn pl-1 pr-1"
                              style="
                                font-weight: bold;
                                font-size: large;
                                color: white;
                              "
                              [disabled]="isdeleteAccept"
                              (click)="removeFlight(i)"
                            >
                              <i
                                class="fas fa-times"
                                style="font-size: 24px"
                              ></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-sm-6 pr-0 pl-3">
                        <button
                          type="button"
                          class="btn btn-light pl-3 pr-3"
                          style="
                            font-weight: bold;
                            font-size: medium;
                            color: rgb(6, 107, 165);
                          "
                          (click)="addFlight()"
                        >
                          <i class="fas fa-plus"></i>&nbsp; Add another flight
                        </button>
                      </div>
                    </div>

                    <div class="row pt-4">
                      <div class="col-sm-4 pr-0 pl-3">
                        <div class="dropdown" id="cabin">
                          <button
                            style="vertical-align: baseline"
                            class="btn btn-light dropdown-toggle w-100"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            id="cabinClassToggleMultiWayWeb"
                          >
                            <span class="float-left"
                              >{{ travelCount }}&nbsp;{{ travellers }},&nbsp;{{
                                selectCabin
                              }}</span
                            >
                            <i class="fas fa-caret-down float-right"></i>
                          </button>

                          <div
                            class="dropdown-menu"
                            id="cabinClassMenuMultiWayWeb"
                            aria-labelledby="cabinClassToggleMultiWayWeb"
                          >
                            <div class="container-fluid" style="width: 300px">
                              <div class="row">
                                <div class="col-sm-12">
                                  <label> Cabin class</label>
                                  <select
                                    class="custom-select"
                                    (change)="selectOption($event.target.value)"
                                  >
                                    <option value="Economy">Economy</option>
                                    <option value="Premium Economy">
                                      Premium Economy
                                    </option>
                                    <option value="Business Class">
                                      Business Class
                                    </option>
                                    <option value="First Class">
                                      First Class
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="row pt-2">
                                <div class="col-sm-1">
                                  <label>Adults</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 d-flex">
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="adultsMin()"
                                    [disabled]="btnadlMinDisable"
                                  >
                                    <i class="fas fa-minus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <h4>{{ adultsCount }}</h4>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="adultsPlus()"
                                    [disabled]="btnadlPlusDisable"
                                  >
                                    <i class="fas fa-plus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;
                                  <span style="font-size: medium"
                                    >16+ Year</span
                                  >
                                </div>
                              </div>
                              <div class="row pt-2">
                                <div class="col-sm-1">
                                  <label>Children</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 d-flex">
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="childsMin()"
                                    [disabled]="btnChildMinDisable"
                                  >
                                    <i class="fas fa-minus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <h4>{{ childCount }}</h4>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <button
                                    id="cabinButtons"
                                    type="button"
                                    class="btn btn-circle btn-sm"
                                    (click)="childsPlus()"
                                    [disabled]="btnchildPlusDisable"
                                  >
                                    <i class="fas fa-plus fa-2x"></i>
                                  </button>
                                  &nbsp;&nbsp;
                                  <span style="font-size: medium"
                                    >0 - 15 Year</span
                                  >
                                </div>
                              </div>

                              <div class="row pt-1">
                                <div class="col-sm-12">
                                  <table
                                    class="table table-borderless"
                                    style="color: white"
                                  >
                                    <tbody formArrayName="childrenV2">
                                      <tr
                                        *ngFor="
                                          let children of Form.get(
                                            'childrenV2'
                                          )['controls'];
                                          let ch = index
                                        "
                                        [formGroupName]="ch"
                                      >
                                        <label style="color: black"
                                          >Age of child&nbsp;{{ ch + 1 }}</label
                                        >
                                        <select
                                          class="custom-select"
                                          formControlName="Age"
                                        >
                                          <option
                                            selected="selected"
                                            disabled
                                            value="-1"
                                          >
                                            Select age
                                          </option>
                                          <option
                                            value="{{ item }}"
                                            *ngFor="
                                              let item of [
                                                0,
                                                1,
                                                2,
                                                3,
                                                4,
                                                5,
                                                6,
                                                7,
                                                8,
                                                9,
                                                10,
                                                11,
                                                12,
                                                13,
                                                14,
                                                15
                                              ];
                                              index as i
                                            "
                                          >
                                            {{ item }}
                                          </option>
                                        </select>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>

                            <div class="container-fluid">
                              <div class="row pt-1">
                                <div class="col-sm-12">
                                  <p
                                    class="pb-0 mb-0 pt-1 ml-0 mr-0"
                                    style="font-size: xx-small"
                                  >
                                    Your age at time of travel must be valid for
                                    the age category booked. Airlines have
                                    restrictions on under 18s travelling alone.
                                    Age limits and policies for travelling with
                                    children may vary so please check with the
                                    airline before booking.
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="cabinClassTravellersDropdownFooter">
                              <button
                                type="button"
                                class="btn btn-link float-right"
                                (click)="onCloseCabinTravellersSelectDropDown()"
                              >
                                Done
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 pr-0 pl-3 pt-2"></div>
                      <div class="col-sm-4">
                        <button
                          type="button"
                          class="btn btn-info float-right pl-5 pr-5 pt-2 pb-2"
                          style="font-weight: bold; font-size: large"
                          (click)="onSearch()"
                        >
                          Search Now
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- #endregion -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-5"></div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isMobile">
  <!-- <div class="container-fluid bg-light">
        <div class="container">
            <br>
            <img mat-card-image src="assets/logo-Original.png" alt="logo" style="width: 6cm;">
            <span class="spacer"></span>
        </div>
    </div> -->

  <div class="container-fluid bg-light">
    <div class="container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            id="C1_H1"
            data-toggle="tab"
            role="tab"
            aria-controls="nav-Flights"
            aria-selected="true"
          >
            Flights &nbsp; <span class="fas fa-plane"></span>
          </a>
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            id="C1_H1"
            data-toggle="tab"
            role="tab"
            aria-controls="nav-Flights"
            aria-selected="true"
          >
            Hotels &nbsp; <span class="fas fa-hotel"></span>
          </a>
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            id="C1_H1"
            data-toggle="tab"
            role="tab"
            aria-controls="nav-Flights"
            aria-selected="true"
          >
            Car Hire &nbsp; <span class="fas fa-car"></span>
          </a>
        </div>
      </nav>
    </div>
  </div>

  <div class="col-12" id="mobilebg">
    <div class="row">
      <div class="col-12">
        <div class="card-body pt-3 pr-0 pl-0">
          <div id="CARD_INNER_BODY" style="color: white">
            <form [formGroup]="Form" autocomplete="off">
              <div class="row pl-2">
                <div class="col-4 pl-0 pr-0">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="customRadio"
                      id="customRadio4"
                      (click)="ReturnClick()"
                      checked
                    />
                    <label class="custom-control-label" for="customRadio4"
                      >Return&nbsp;&nbsp;</label
                    >
                  </div>
                </div>

                <div class="col-4 pl-0 pr-0">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="optradio"
                      name="customRadio"
                      id="customRadio5"
                      (click)="OnewayClick()"
                    />
                    <label class="custom-control-label" for="customRadio5"
                      >One way&nbsp;&nbsp;</label
                    >
                  </div>
                </div>

                <div class="col-4 pl-0 pr-0">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="customRadio"
                      id="customRadio6"
                      (click)="MultiCityClick()"
                    />
                    <label class="custom-control-label" for="customRadio6"
                      >Multi City&nbsp;&nbsp;</label
                    >
                  </div>
                </div>
              </div>

              <div id="rtn_OneWay" class="pt-3 pl-2 pr-2" [style]="style_R">
                <div class="row" id="rtn_OneWay_1row">
                  <div class="col-12 pr-0 pl-0">
                    <div class="form-group">
                      <label>From</label>

                      <div class="input-group">
                        <input
                          [typeahead]="states"
                          [typeaheadItemTemplate]="TemplatePickFlight"
                          typeaheadOptionField="searchName"
                          [isAnimated]="true"
                          class="form-control"
                          formControlName="ro_From"
                          placeholder="Country,City or airport"
                        />

                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-exchange-alt"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 pr-0 pl-0">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          formControlName="ro_F_addN"
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck4"
                          name="example1"
                        />
                        <label class="custom-control-label" for="customCheck4"
                          >Add nearby airports</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label>To</label>

                      <input
                        [typeahead]="states"
                        [typeaheadItemTemplate]="TemplatePickFlight"
                        typeaheadOptionField="searchName"
                        [isAnimated]="true"
                        class="form-control"
                        formControlName="ro_To"
                        placeholder="Country,City or airport"
                      />
                    </div>
                  </div>

                  <div class="col-12 pr-0 pl-0">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          formControlName="ro_T_addN"
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck5"
                          name="example2"
                        />
                        <label class="custom-control-label" for="customCheck5"
                          >Add nearby airports</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" id="rtn_OneWay_1row">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label>Depart</label>
                      <div class="input-group mb-2">
                        <input
                          class="form-control border"
                          formControlName="ro_Depart"
                          placeholder="YYYY-MM-DD"
                          type="text"
                          id="datePickerDepartureMobile"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label>Return</label>
                      <div class="input-group mb-2">
                        <input
                          class="form-control border"
                          formControlName="ro_Return"
                          placeholder="YYYY-MM-DD"
                          type="text"
                          id="datePickerReturnMobile"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" id="rtn_OneWay_1row">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group mb-2">
                      <label>Cabin Class & Travellers</label>

                      <div class="dropdown" id="cabin">
                        <button
                          style="vertical-align: baseline"
                          class="btn btn-light dropdown-toggle w-100"
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          id="cabinClassToggleOneWayMobile"
                        >
                          <span class="float-left"
                            >{{ travelCount }}&nbsp;{{ travellers }},&nbsp;{{
                              selectCabin
                            }}</span
                          >
                          <i class="fas fa-caret-down float-right"></i>
                        </button>

                        <div
                          class="dropdown-menu pt-2"
                          aria-labelledby="cabinClassToggleOneWayMobile"
                          id="cabinClassMenuOneWayMobile"
                        >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <label> Cabin class</label>
                                <select
                                  class="custom-select"
                                  (change)="selectOption($event.target.value)"
                                >
                                  <option value="Economy">Economy</option>
                                  <option value="Premium Economy">
                                    Premium Economy
                                  </option>
                                  <option value="Business Class">
                                    Business Class
                                  </option>
                                  <option value="First Class">
                                    First Class
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="row pt-2">
                              <div class="col-12">
                                <label>Adults</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex">
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="adultsMin()"
                                  [disabled]="btnadlMinDisable"
                                >
                                  <i class="fas fa-minus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h4>{{ adultsCount }}</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="adultsPlus()"
                                  [disabled]="btnadlPlusDisable"
                                >
                                  <i class="fas fa-plus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;
                                <span style="font-size: medium">16+ Year</span>
                              </div>
                            </div>
                            <div class="row pt-2">
                              <div class="col-12">
                                <label>Children</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex">
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="childsMin()"
                                  [disabled]="btnChildMinDisable"
                                >
                                  <i class="fas fa-minus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h4>{{ childCount }}</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="childsPlus()"
                                  [disabled]="btnchildPlusDisable"
                                >
                                  <i class="fas fa-plus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;
                                <span style="font-size: medium"
                                  >0 - 15 Year</span
                                >
                              </div>
                            </div>
                            <div class="row pt-1">
                              <div class="col-sm-12">
                                <table
                                  class="table table-borderless"
                                  style="color: white"
                                >
                                  <tbody formArrayName="childrenV2">
                                    <tr
                                      *ngFor="
                                        let children of Form.get('childrenV2')[
                                          'controls'
                                        ];
                                        let ch = index
                                      "
                                      [formGroupName]="ch"
                                    >
                                      <label style="color: black"
                                        >Age of child&nbsp;{{ ch + 1 }}</label
                                      >
                                      <select
                                        class="custom-select"
                                        formControlName="Age"
                                      >
                                        <option
                                          selected="selected"
                                          disabled
                                          value="-1"
                                        >
                                          Select age
                                        </option>
                                        <option
                                          value="{{ item }}"
                                          *ngFor="
                                            let item of [
                                              0,
                                              1,
                                              2,
                                              3,
                                              4,
                                              5,
                                              6,
                                              7,
                                              8,
                                              9,
                                              10,
                                              11,
                                              12,
                                              13,
                                              14,
                                              15
                                            ];
                                            index as i
                                          "
                                        >
                                          {{ item }}
                                        </option>
                                      </select>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                          <div class="container-fluid">
                            <div class="row pt-1">
                              <div class="col-12">
                                <p
                                  class="pb-0 mb-0 pt-1 ml-0 mr-0"
                                  style="font-size: xx-small"
                                >
                                  Your age at time of travel must be valid for
                                  the age category booked. Airlines have
                                  restrictions on under 18s travelling alone.
                                  Age limits and policies for travelling with
                                  children may vary so please check with the
                                  airline before booking.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="cabinClassTravellersDropdownFooter">
                            <button
                              type="button"
                              class="btn btn-link float-right"
                              (click)="onCloseCabinTravellersSelectDropDown()"
                            >
                              Done
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" id="rtn_OneWay_1row">
                  <div class="col-12 pr-0 pl-0">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          formControlName="ro_Direct"
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck6"
                          name="example3"
                        />
                        <label class="custom-control-label" for="customCheck6"
                          >Direct Filghts Only</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 pr-0 pl-0">
                    <button
                      type="button"
                      class="btn btn-info w-100"
                      style="font-weight: bold; font-size: large"
                      (click)="onSearch()"
                    >
                      Search Now
                    </button>
                  </div>
                </div>
              </div>

              <div id="M_city" [style]="style_M">
                <table class="table table-borderless" style="color: white">
                  <tbody formArrayName="m_City">
                    <tr
                      *ngFor="
                        let city of Form.get('m_City')['controls'];
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <td>
                        <div class="form-group">
                          <div class="input-group">
                            <input
                              [typeahead]="states"
                              [typeaheadItemTemplate]="TemplatePickFlight"
                              typeaheadOptionField="searchName"
                              [isAnimated]="true"
                              class="form-control"
                              formControlName="m_From"
                              placeholder="Country,City or airport"
                            />
                          </div>
                        </div>
                      </td>

                      <td>
                        <button
                          type="button"
                          class="btn pl-1 pr-1"
                          style="
                            font-weight: bold;
                            font-size: large;
                            color: white;
                          "
                        >
                          <i
                            class="fas fa-caret-right"
                            style="font-size: 24px"
                          ></i>
                        </button>
                      </td>

                      <td>
                        <div class="form-group">
                          <div class="input-group">
                            <input
                              [typeahead]="states"
                              [typeaheadItemTemplate]="TemplatePickFlight"
                              typeaheadOptionField="searchName"
                              [isAnimated]="true"
                              class="form-control"
                              formControlName="m_To"
                              placeholder="Country,City or airport"
                            />
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <div class="input-group mb-2">
                            <input
                              formControlName="m_date"
                              class="form-control"
                              id="{{ 'datePickerMultiWayMobile' + (i + 1) }}"
                              name="{{ 'datePickerMultiWayMobile' + (i + 1) }}"
                              type="text"
                              placeholder="YYYY-MM-DD"
                              (ngInit)="
                                onApplyPickerMultiWay(
                                  'mobile',
                                  'datePickerMultiWayMobile' + (i + 1),
                                  i
                                )
                              "
                            />
                          </div>
                        </div>
                      </td>

                      <td>
                        <button
                          type="button"
                          class="btn pl-1 pr-1"
                          style="
                            font-weight: bold;
                            font-size: large;
                            color: white;
                          "
                          [disabled]="isdeleteAccept"
                          (click)="removeFlight(i)"
                        >
                          <i class="fas fa-times" style="font-size: 24px"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-12 pr-0 pl-3">
                    <button
                      type="button"
                      class="btn btn-light pl-3 pr-3"
                      style="
                        font-weight: bold;
                        font-size: medium;
                        color: rgb(6, 107, 165);
                      "
                      (click)="addFlight()"
                    >
                      <i class="fas fa-plus"></i>&nbsp; Add another flight
                    </button>
                  </div>
                </div>

                <div class="row pt-4">
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label>Cabin Class & Travellers</label>

                      <div class="dropdown" id="cabin">
                        <button
                          style="vertical-align: baseline"
                          class="btn btn-light dropdown-toggle w-100"
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          id="cabinClassToggleMultiWayMobile"
                        >
                          <span class="float-left"
                            >{{ travelCount }}&nbsp;{{ travellers }},&nbsp;{{
                              selectCabin
                            }}</span
                          >
                          <i class="fas fa-caret-down float-right"></i>
                        </button>

                        <div
                          class="dropdown-menu pt-2"
                          aria-labelledby="dropdownMenuButton"
                          id="cabinClassMenuMultiWayMobile"
                        >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <label> Cabin class</label>
                                <select
                                  class="custom-select"
                                  (change)="selectOption($event.target.value)"
                                >
                                  <option value="Economy">Economy</option>
                                  <option value="Premium Economy">
                                    Premium Economy
                                  </option>
                                  <option value="Business Class">
                                    Business Class
                                  </option>
                                  <option value="First Class">
                                    First Class
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="row pt-2">
                              <div class="col-12">
                                <label>Adults</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex">
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="adultsMin()"
                                  [disabled]="btnadlMinDisable"
                                >
                                  <i class="fas fa-minus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h4>{{ adultsCount }}</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="adultsPlus()"
                                  [disabled]="btnadlPlusDisable"
                                >
                                  <i class="fas fa-plus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;
                                <span style="font-size: medium">16+ Year</span>
                              </div>
                            </div>
                            <div class="row pt-2">
                              <div class="col-12">
                                <label>Children</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex">
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="childsMin()"
                                  [disabled]="btnChildMinDisable"
                                >
                                  <i class="fas fa-minus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h4>{{ childCount }}</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button
                                  id="cabinButtons"
                                  type="button"
                                  class="btn btn-circle btn-sm"
                                  (click)="childsPlus()"
                                  [disabled]="btnchildPlusDisable"
                                >
                                  <i class="fas fa-plus fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;
                                <span style="font-size: medium"
                                  >0 - 15 Year</span
                                >
                              </div>
                            </div>
                            <div class="row pt-1">
                              <div class="col-sm-12">
                                <table
                                  class="table table-borderless"
                                  style="color: white"
                                >
                                  <tbody formArrayName="childrenV2">
                                    <tr
                                      *ngFor="
                                        let children of Form.get('childrenV2')[
                                          'controls'
                                        ];
                                        let ch = index
                                      "
                                      [formGroupName]="ch"
                                    >
                                      <label style="color: black"
                                        >Age of child&nbsp;{{ ch + 1 }}</label
                                      >
                                      <select
                                        class="custom-select"
                                        formControlName="Age"
                                      >
                                        <option
                                          selected="selected"
                                          disabled
                                          value="-1"
                                        >
                                          Select age
                                        </option>
                                        <option
                                          value="{{ item }}"
                                          *ngFor="
                                            let item of [
                                              0,
                                              1,
                                              2,
                                              3,
                                              4,
                                              5,
                                              6,
                                              7,
                                              8,
                                              9,
                                              10,
                                              11,
                                              12,
                                              13,
                                              14,
                                              15
                                            ];
                                            index as i
                                          "
                                        >
                                          {{ item }}
                                        </option>
                                      </select>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                          <div class="container-fluid">
                            <div class="row pt-1">
                              <div class="col-12">
                                <p
                                  class="pb-0 mb-0 pt-1 ml-0 mr-0"
                                  style="font-size: xx-small"
                                >
                                  Your age at time of travel must be valid for
                                  the age category booked. Airlines have
                                  restrictions on under 18s travelling alone.
                                  Age limits and policies for travelling with
                                  children may vary so please check with the
                                  airline before booking.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="cabinClassTravellersDropdownFooter">
                            <button
                              type="button"
                              class="btn btn-link float-right"
                              (click)="onCloseCabinTravellersSelectDropDown()"
                            >
                              Done
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-info w-100"
                      style="font-weight: bold; font-size: large"
                      (click)="onSearch()"
                    >
                      Search Now
                    </button>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ng template use for pick flight -->
<ng-template #TemplatePickFlight let-model="item" let-index="index">
  <div class="col-sm-12 pl-0 ml-0" style="width: 100%">
    <div class="row pickFlightBorder">
      <div class="col-sm-2">
        <i class="fas fa-plane"></i>
      </div>

      <div class="col-sm-10 pickFlight">
        <label style="font-size: medium"> {{ model.searchName }}</label>
        <br />
        <label style="font-size: smaller"
          >{{ model.country }},{{ model.flightCode }}</label
        >
      </div>
    </div>
  </div>
</ng-template>
