#C1 {
    background-image: url('src/assets/newnewbg.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 600px;
}
.bg-light {
    background-color: #ffffff!important;
}

.nav-item{
    padding-right: 5px;
}

#C1_H {
    background-color: white;
    font-weight: bold;
    padding-top: 0cm;
    padding-bottom: 0cm;
}

#C1_F {
    background-color: rgb(4, 39, 89);
    color: white;
}

#C1_H1 {
    background-color: rgb(4, 39, 89);
    color: white;
    border-radius: 4px 4px 0px 0px;
}

#C1_BT {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

#CARD_INNER_BODY {
    background-color: rgb(4, 39, 89);
    padding: 20px;
    border-radius: 5px;
    box-shadow: whitesmoke;
}

#ToText,
#ro_To {
    border-radius: 0px;
}

.border {
    border-radius: 0px;
}

#ToTextEnd {
    border-radius: 0px 5px 5px 0px;
}

#ro_From {
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}

#rtn_OneWay_1row {
    font-size: x-small;
    font-weight: bold;
}

#rtn_OneWay_2row {
    font-size: small;
    font-weight: bold;
}

#rtn_OneWay_3row {
    font-size: small;
    font-weight: bold;
}

#M_city {
    padding-top: 30px;
}

#M_city table {
    border: 0px;
}

#M_city td {
    padding: 1px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
li {
    float: left;
}
li:nth-last-child(1) {
    /* float: none; */
    display: inline-block;
}

.wave-container {
    position: relative;
    background: rgb(255, 255, 255);
    color: #FFF;
    text-align: center;
    overflow: hidden;
}

.wave-container>svg {
    display: block;
    -webkit-filter: invert(.75);
    /* safari 6.0 - 9.0 */
    filter: invert(.75);
}

h1 {
    font-size: 5rem;
    margin: 7rem 1.25rem 2.5rem 1.25rem;
}

#isMobile {
    display: none;
}

#mobilebg {
    background-color: rgb(4, 39, 89);
    color: white;
}

@media only screen and (max-width: 600px) {
    #isWeb {
        display: none;
    }
    #isMobile {
        display: block;
        color: white;
    }
}

.dropdown-toggle::after {
    display: none;
}

.btn-circle.btn-sm {
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    border-radius: 18px;
    font-size: 8px;
    text-align: center;
}

#cabinButtons {
    color: rgb(0, 140, 255);
    border: 2px solid rgba(163, 163, 163, 0.473);
}

#cabinButtons:hover {
    color: rgb(0, 140, 255);
    border: 2px solid rgb(0, 140, 255);
}

#cabinButtons[disabled] {
    background-color: #dfd2d2ad;
    color: #7c7373da;
}

#cabinButtons[disabled]:hover {
    background-color: #dfd2d2ad;
    color: #7c7373da;
    border: 2px solid rgba(163, 163, 163, 0.473);
    cursor: not-allowed;
}

#dropdownDivider {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

.pickFlight {
    padding: 0cm;
    margin: 0cm;
}

.pickFlightBorder {
    border-bottom: 1px solid #8888887c;
}

.cabinClassTravellersDropdownFooter {
    margin-top: 20px;
    border-bottom: 1px solid #8888887c;
}

.dropdown-menu-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}