<app-nav-header
  *ngIf="
    router.url !== '/admin' &&
    router.url !== '/createpost/add' &&
    router.url !== '/posts' &&
    router.url !== '/categories' &&
    router.url !== '/createdestination/add' &&
    router.url !== '/destinations' &&
    router.url !== '/createcategory/add' &&
    router.url !== '/user' &&
    router.url !== '/registeredusers' &&
    router.url !== '/user/addapi' &&
    router.url !== '/pendingusers'
  "
></app-nav-header>
<router-outlet></router-outlet>

<div
  class="container-fuild mb-0 pb-0"
  *ngIf="
    router.url !== '/admin' &&
    router.url !== '/createpost/add' &&
    router.url !== '/posts' &&
    router.url !== '/categories' &&
    router.url !== '/createdestination/add' &&
    router.url !== '/destinations' &&
    router.url !== '/createcategory/add' &&
    router.url !== '/account/myfarefinder' &&
    router.url !== '/user' &&
    router.url !== '/registeredusers'&&
    router.url !== '/user/addapi' &&
    router.url !== '/pendingusers'
  "
  id="explore"
>
  <div class="container">
    <app-explore-partners-company-help></app-explore-partners-company-help>
  </div>
</div>
<div
  class="container"
  *ngIf="
    router.url !== '/admin' &&
    router.url !== '/createpost/add' &&
    router.url !== '/posts' &&
    router.url !== '/categories' &&
    router.url !== '/createdestination/add' &&
    router.url !== '/destinations' &&
    router.url !== '/createcategory/add' &&
    router.url !== '/account/myfarefinder' &&
    router.url !== '/user' &&
    router.url !== '/registeredusers'&&
    router.url !== '/user/addapi' &&
    router.url !== '/pendingusers'
  "
>
  <app-international-sites></app-international-sites>
</div>
<footer id="footer">
  <app-nav-footer></app-nav-footer>
</footer>
