<!--Card-->
<h1>Posts By Category</h1>
<br>
<div *ngFor="let category of categories">
    <h2>{{category.catTitle}}</h2>
    <div class="col-sm-2" *ngFor="let post of posts; let k = index">
        <div *ngIf="category.catTitle==post.category" class="card h-100">
            <div class="inner h-100">
                <a routerLink="/posts/{{post.id}}"><img class="card-img-top" src="{{ post.img }}" width="1920" height="220" alt="image comes here"></a>
            </div>

            <div class="card-body">
                <div class="card-text p-0"><span>{{ post.title }}</span><br>
                </div>
            </div>
        </div>
    </div>
</div>