/* .card-body {
    background-color: rgb(10, 10, 54);
    color: white;
    border-radius: 0px 0px 5px 5px;
} */

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.inner:hover img {
    transform: scale(1.2);
}

.card span {
    font-weight: bold;
    font-size: x-large;
}


/* .card {
    box-shadow: black;
    border-radius: 5px 5px 5px 5px;
    max-height: 80%;
} */

.GetPrice {
    color: rgb(219, 94, 21);
    font-weight: bold;
    font-size: small;
}

.GetPrice i {
    font-size: 0.8rem;
    vertical-align: baseline;
}