<div id="featured">
    <div class="container">
        <header>
            <h1>PRIVACY POLICY</h1>
        </header>
        <p>
            Travlin Air Services Ltd with registered address at 27 Old Gloucester Street, London, United Kingdom, WC1N 3AX (<strong>“We”</strong> and <strong>“Us”</strong>) are committed to protecting your personal data. This privacy policy will inform
            you as to how we look after your personal data when you visit our website www.farefinder.co.uk <strong> (“Website”)</strong> (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.

        </p>
        <p>
            If you need to contact us, please write to use at info@farefinder.co.uk.

        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>1. PURPOSE OF THIS PRIVACY POLICY </h4>
        </header>
        <p>This privacy policy aims to give you information on how we collect and process your personal data through your use of this Website, including any data you may provide through this Website.</p>
        <p>
            This Website is not intended for children and we do not knowingly collect data relating to children.
        </p>
        <p>
            This privacy policy will inform you how you can verify which of your personal information is collected by us through the Website and how you can request that we delete, update or transfer it.
        </p>
        <p>
            It is important that you read this privacy policy together with any other privacy policy or fair processing policy we may provide on specific occasions when we are collecting or processing personal data about you so that you are fully aware of how and
            why we are using your data. This privacy policy supplements other notices and privacy policies and is not intended to override them.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>2. THE DATA WE COLLECT ABOUT YOU </h4>
        </header>
        <p>By continuing to use our Website you are deemed to consent to our use of the cookies described in this Cookie Policy. If you do not consent to us using cookies then please read the next section.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>YOU CAN BLOCK COOKIES</h4>
        </header>
        <p>Personal data, or personal information, means any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymous data).
        </p>
        <p>
            We may collect, use, store and transfer different kinds of personal data about you which we have grouped together as follows:
        </p>
        <ul>
            <li>
                <strong>Identity Data</strong> includes, but is not limited to, first name, last name
            </li>
            <li>
                <strong>Contact Data</strong> includes, but is not limited to, email address
            </li>
            <li>
                <strong>Technical Data</strong> includes, but is not limited to, internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform,
                and other technology on the devices you use to access this Website.
            </li>
            <li>
                <strong>Usage Data</strong> includes, but is not limited to, information about how you use our Website, products and services.
            </li>
            <li>
                <strong>Marketing and Communications Data</strong> includes, but is not limited to, your preferences in receiving marketing from us and our third parties and your communication preferences.
            </li>
        </ul>
        <p>
            We also collect, use and share Aggregated Data such as statistical or demographic data for any purpose. <strong> Aggregated Data</strong> could be derived from your personal data but is not considered personal data in law as this data will
            not directly or indirectly reveal your identity. For example, we may aggregate your Usage Data to calculate the percentage of users accessing a specific website feature. However, if we combine or connect Aggregated Data with your personal
            data so that it can directly or indirectly identify you, we treat the combined data as personal data which will be used in accordance with this privacy policy.
        </p>
        <p>
            We do not collect any <strong> Financial Data</strong> or <strong> Special Categories of Personal Data</strong> about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation,
            political opinions, trade union membership, information about your health, and genetic and biometric data). Nor do we collect any information about criminal convictions and offences.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>3. IF YOU FAIL TO PROVIDE PERSONAL DATA </h4>
        </header>
        <p>Where we need to collect personal data by law, or under the terms of a contract we have with you, and you fail to provide that data when requested, we may not be able to perform the contract we have or are trying to enter into with you (for example,
            to provide you with goods or services). In this case, we may have to cancel a product or service you have with us but we will notify you if this is the case at the time.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>4. YOUR RIGHTS IF YOU ARE AN EU CITIZEN </h4>
        </header>
        <p>You have certain rights with respect to your Personal Data, including those set forth below. For more information about these rights, or to submit a request, please contact us at <a href="info@farefinder.co.uk">info@farefinder.co.uk</a>
        </p>
        <p>
            Please note that in some circumstances, we may not be able to fully comply with your request, such as if it is frivolous or extremely impractical, if it jeopardizes the rights of others, or if it is not required by law, but in those circumstances, we
            will still respond to notify you of such a decision. In some cases, we may also need to you to provide us with additional information, which may include Personal Data, if necessary to verify your identity and the nature of your request.
        </p>
        <ul>
            <li>
                <strong>Access:</strong> You can request more information about the Personal Data we hold about you and request a copy of such Personal Data.
            </li>
            <li>
                <strong>Rectification:</strong> If you believe that any Personal Data we are holding about you is incorrect or incomplete.
            </li>
            <li>
                <strong>Erasure:</strong> You can request that we erase some or all of your Personal Data from our systems.
            </li>
            <li>
                <strong>Withdrawal of Consent:</strong> If we are processing your Personal Data based on your consent (as indicated at the time of collection of such data), you have the right to withdraw your consent at any time. Please note, however,
                that if you exercise this right, you may have to then provide express consent on a case-by-case basis for the use or disclosure of certain of your Personal Data, if such use or disclosure is necessary to enable you to utilize some or all
                of our Services.
            </li>
            <li>
                <strong>Portability:</strong> You can ask for a copy of your Personal Data in a machine-readable format. You can also request that we transmit the data to another controller where technically feasible.
            </li>
            <li>
                <strong>Objection:</strong> You can contact us to let us know that you object to the further use or disclosure of your Personal Data for certain purposes, such as for direct marketing purposes.
            </li>
            <li>
                <strong>Restriction of Processing:</strong> You can ask us to restrict further processing of your Personal Data.
            </li>
            <li>
                <strong>Right to File Complaint:</strong> You have the right to lodge a complaint about our practices with respect to your Personal Data with the supervisory authority of your country or EU Member State.
            </li>
        </ul>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>5. HOW IS YOUR PERSONAL DATA COLLECTED?</h4>
        </header>
        <p>We use different methods to collect data from and about you including through:
        </p>
        <ul>
            <li>
                1. <strong> Direct interactions.</strong> You may give us your data by using our Website or by corresponding with us phone, email or otherwise. This includes personal data you provide when you:
                <ul>
                    <li>
                        use our Website and Services;
                    </li>
                    <li>
                        request marketing to be sent to you; or
                    </li>
                    <li>
                        give us feedback or contact us.
                    </li>
                </ul>
            </li>
            <li>
                2. <strong> Automated technologies or interactions.</strong> As you interact with our Website, we will automatically collect Technical Data about your equipment, browsing actions and patterns. We collect this personal data by using cookies
                and other similar technologies. Please see our cookie policy for further details.
            </li>
            <li>
                3. <strong> Third parties or publicly available sources.</strong> We will receive personal data about you from various third parties and public sources as set out below:
                <ul>
                    <li>
                        Technical Data from analytics providers
                    </li>
                    <li>
                        Identity and Contact Data from data brokers or aggregators
                    </li>
                    <li>
                        Identity and Contact Data from publicly available sources
                    </li>
                </ul>
                <p>
                    We may also use Google Analytics to help us understand how our users use the Website and we encourage you to read more about how Google uses your Personal Information on their website. You will also have an option to opt out of this.
                </p>
            </li>
        </ul>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>6. HOW WE USE YOUR PERSONAL DATA </h4>
        </header>
        <p>We will only use your personal data when the law allows us to. Most commonly, we will use your personal data in the following circumstances:
        </p>
        <ul>
            <li>
                Where we are providing you with Services on our Website.
            </li>
            <li>
                Where it is necessary for our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests.
            </li>
            <li>
                Where we need to comply with a legal obligation.
            </li>
        </ul>
        <p>
            Generally, we do not rely on consent as a legal basis for processing your personal data although we will get your consent before sending third party direct marketing communications to you via email or text message. You have the right to withdraw consent
            to marketing at any time by contacting us.
        </p>
        <p>
            Additionally, please note that your information may be transferred outside of Europe, including to Canada and the United States but if we do so we will ensure there are protections in place in line with the General Data Protection Regulation.
        </p>
    </div>
    <div class="container">
        <header>
            <h4>7. USE OF COOKIES</h4>
        </header>
        <p>Our Website uses certain cookies, pixels, beacons, log files and other technologies of which you should be aware. Please see our Cookie Policy to find out more about the cookies we use and how to manage and delete cookies.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>7. HOW LONG WILL YOU USE MY PERSONAL DATA FOR?</h4>
        </header>
        <p>We will only retain your personal data for as long as reasonably necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, regulatory, tax, accounting or reporting requirements. We may retain your
            personal data for a longer period in the event of a complaint or if we reasonably believe there is a prospect of litigation in respect to our relationship with you.
        </p>
        <p>
            To determine the appropriate retention period for personal data, we consider the amount, nature and sensitivity of the personal data, the potential risk of harm from unauthorised use or disclosure of your personal data, the purposes for which we process
            your personal data and whether we can achieve those purposes through other means, and the applicable legal, regulatory, tax, accounting or other requirements.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>9. OPTING OUT</h4>
        </header>
        <p>You can ask us or third parties to stop sending you marketing messages at any time by contacting us at any time.
        </p>
    </div>
    <div class="container">
        <header>
            <h4>10. THIRD PARTY LINKS AND SERVICES</h4>
        </header>
        <p>The Website will contain links to third party websites and services. Please remember that when you use a link to go from our Website to another website or you request a service from a third party, this privacy policy no longer applies.
        </p>
        <p>
            Your browsing and interaction on any other website, or your dealings with any other third-party service provider, is subject to that website’s or third party service provider’s own rules and policies.
        </p>
        <p>
            We do not monitor, control, or endorse the privacy practices of any third parties.
        </p>
        <p>
            We encourage you to become familiar with the privacy practices of every website you visit or third party service provider that you deal with and to contact them if you have any questions about their respective privacy policies and practices.
        </p>
        <p>
            This privacy policy applies solely to personal information collected by us through our Website and functionality and does not apply to these third party websites and third party service providers.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>11. SECURITY OF YOUR PERSONAL INFORMATION</h4>
        </header>
        <p>We are committed to keeping the personal information you provide us secure and we will take reasonable precautions to protect your personal information from loss, misuse or alteration.
        </p>
        <p>
            We have implemented information security policies, rules and technical measures to protect the personal information that we have under our control from:
        </p>
        <ul>
            <li>
                unauthorised access;
            </li>
            <li>
                improper use or disclosure;
            </li>
            <li>
                unauthorised modification; and
            </li>
            <li>
                unlawful destruction or accidental loss.
            </li>
        </ul>
        <p>
            All our employees and data processors (i.e. those who process your personal information on our behalf, for the purposes listed above), who have access to, and are associated with the processing of personal information, are obliged to respect the confidentiality
            of the personal information of all users of the Site.
        </p>
    </div>
    <br>
    <div class="container">
        <header>
            <h4>12. CHANGE TO THIS PRIVACY POLICY</h4>
        </header>
        <p>We may make changes to this privacy policy from time to time.
        </p>
        <p>
            To ensure that you are always aware of how we use your personal information we will update this privacy policy from time to time to reflect any changes to our use of your personal information. We may also make changes as required to comply with changes
            in applicable law or regulatory requirements. We may notify you by e-mail of any significant changes. However, we encourage you to review this privacy policy periodically to be informed of how we use your personal information.
        </p>
    </div>
</div>