<!-- Featured -->
<hr />
<div id="featured">
  <div class="container">
    <header>
      <h3><strong>Terms and Conditions</strong></h3>
    </header>
    <br />
    <br />
    <h6><strong>Who are we?</strong></h6>
    <p>
      This is Travlin Air Services Ltd with company address at 27 Old Gloucester
      Street, London, United Kingdom, WC1N 3AX, and trading as “Farefinder”
      (hereunder referred to as Farefinder, we or us) operates a website at
      www.farefinder.co.uk (Website) which allows users to  compare hundreds of
      travel sites to find the best deals (Services). Our Website and Services
      are provided free of charge to our users. If you end up purchasing a
      product or service via a provider through our Website, we will receive a
      fee or commission from the provider. These terms tell you the rules for
      using our Services provided through our Website only. Your access and use
      of the Website constitute your agreement to comply with and be legally
      bound by these terms and conditions (Terms). If you do not agree to these
      Terms, you have no right to obtain information from or otherwise continue
      using the Website. To contact us, please email to info@farefinder.co.uk
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6><strong>How does the Website work?</strong></h6>
    </header>
    <p>
      The Website allows users to plug in search fields including origin,
      destination, departure date, return date and the number of people
      travelling. Our Website will then search for the best flights and hotels
      for your search request, only among those travel and hotel providers which
      are registered with us.
    </p>
    <p>
      Please note we are not a flight agency, airline, hotel, or any related
      entity. We are solely a technology platform that allows our users to
      compare flights and hotels from providers on the internet.
    </p>
    <p>
      You will then be provided with an automated search list. Once you click on
      a search result you will be diverted to the provider’s website and these
      terms will cease to apply immediately.
    </p>
    <p>
      <strong
        >For the avoidance of doubt, the service providers in our search result
        are not our agents, consultants, subcontractors nor are they affiliated
        to us in any way.
      </strong>
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6><strong>There are other terms that may apply to you</strong></h6>
    </header>
    <p>
      These Terms of use refer to the following additional terms, which also
      apply to your use of our Website:
    </p>
    <ul>
      <a href="/privacypolicy" target="_blank"><li>Our Privacy Policy</li> </a>
      <a href="/cookiepolicy" target="_blank"><li>Our Cookie Policy.</li></a>
    </ul>
    <p>
      You acknowledge and agree that you have read and agree to these additional
      terms.
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6><strong>Our Website is only for some users</strong></h6>
    </header>
    <p>
      Our Website is only for user that are over the age of 18. If you are not
      18, you will not be allowed to use our Website, unless you do so with the
      permission of your guardian.
    </p>
    <p>
      You acknowledge and warrant that you are the individual you say you are
      and all information you provide to us is complete and correct.
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6>Intellectual Property in the Website</h6>
    </header>
    <p>We are the owner of all intellectual property rights in our Website.</p>
    <p>
      If you copy or download any part of our Website in breach of these terms
      of use, your right to use our Website will cease immediately and you must,
      at our option, return or destroy any copies of the materials you have
      made.
    </p>
  </div>
  <div class="container">
    <header>
      <h6>User conduct</h6>
    </header>
    <p>
      You understand and agree that you are solely responsible for compliance
      with any and all laws, rules and regulations, that may apply to your use
      of the Website and Services. In connection with your use of our Website
      and Services, you may not and you agree that you will not:
    </p>
    <ul>
      <li>
        violate any local or other law or regulation, or any order of a court;
      </li>
      <li>
        use manual or automated software, devices, scripts robots, other means
        or processes to access, “scrape,” “crawl” or “spider” any web pages or
        other services contained in the Website or Services;
      </li>
      <li>
        copy, store or otherwise access any information contained on the Website
        for purposes not expressly permitted by these Terms;
      </li>
      <li>
        infringe the rights of any person or entity, including but not limited
        to, their intellectual property, privacy, publicity or contractual
        rights;
      </li>
      <li>
        interfere with or damage our Website or Services, including, without
        limitation, through the use of viruses, cancel bots, Trojan horses,
        harmful code, flood pings, denial-of-service attacks, packet or IP
        spoofing, forged routing or electronic mail address information or
        similar methods or technology.
      </li>
    </ul>
  </div>
  <div class="container">
    <header>
      <h6>Links</h6>
    </header>
    <p>
      The Website and Services may contain links to third-party websites or
      resources. You acknowledge and agree that Farefinder is not responsible or
      liable for: (i) the availability or accuracy of such websites or
      resources; or (ii) the content, products, or services on or available from
      such websites or resources.
    </p>
    <p>
      Links to such websites or resources do not imply any endorsement by
      Farefinder of such websites or resources or the content, products, or
      services available from such websites or resources.
    </p>
    <p>
      You acknowledge sole responsibility for and assume all risk arising from
      your use of any such websites or resources or the content, products or
      services on or available from such websites or resources.
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6>Do not rely on Content on this Website</h6>
    </header>
    <p>
      The content on our Website or derived from our Website through the search
      function, is provided for general information only and we take no
      responsibility for completeness or accuracy. It is a guide only and not
      intended to amount to any advice on which you should rely. You must obtain
      professional or specialist advice before taking, or refraining from, any
      action on the basis of the content on or provided by our Website.
    </p>
    <p>
      We make no representations, warranties or guarantees, whether express or
      implied, that the content on or provided through our Website is accurate,
      complete or up to date at any time.
    </p>
    <p>
      The search results displayed by Farefinder are developed by entities over
      whom Farefinder exercises no control. The search results that appear from
      Farefinder's indices are indexed by Farefinder's automated computers. We
      cannot guarantee that a search result will provide you with the best and
      cheapest holiday options. A search using our Website may produce search
      results and links to sites that some people find objectionable,
      inappropriate, or offensive. We cannot guarantee that a search will not
      locate unintended or objectionable content and assume no responsibility
      for the content of any site included in any search results or otherwise
      linked to by Farefinder.
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6>Disclaimer</h6>
    </header>
    <p>
      You expressly understand and agree that to the extent permitted by
      applicable law, your use of the Website is at your sole risk, and the
      Website is provided on an “as is” and “as available” basis, with all
      faults. Farefinder expressly disclaims all warranties, representations,
      and conditions of any kind, whether express or implied, including, but not
      limited to, the implied warranties or conditions of merchantability,
      fitness for a particular purpose and non-infringement. Farefinder make no
      warranty, representation or condition that: (1) the Website will meet your
      requirements; (2) your use of the Website will be uninterrupted, timely,
      secure or error-free; (3) the results that may be obtained from use of the
      Website will be accurate or reliable; or (4) any errors in the Website
      will be corrected. The Services may be subject to delays, cancellations,
      and other disruptions. No advice or information, whether oral or written,
      obtained from Farefinder or through the Website will create any warranty
      not expressly made herein.
    </p>
  </div>
  <br />
  <div class="container">
    <header>
      <h6>Our responsibility for loss or damage suffered by you</h6>
    </header>
    <ul>
      <li>
        We do not exclude or limit in any way our liability to you where it
        would be unlawful to do so. This includes liability for death or
        personal injury caused by our negligence or the negligence of our
        employees, agents, or subcontractors and for fraud or fraudulent
        misrepresentation.
      </li>
      <li>
        We will not be liable to you for any loss or damage, whether in
        contract, tort (including negligence), breach of statutory duty, or
        otherwise, even if foreseeable, arising under or in connection with:
        <ul>
          <li>use of, or inability to use, our Website; or</li>
          <li>use of or reliance on any Content displayed on our Website.</li>
        </ul>
      </li>
      <li>
        In particular, we will not be liable for:
        <ul>
          <li>loss of profits, sales, business, or revenue;</li>
          <li>business interruption;</li>
          <li>loss of anticipated savings;</li>
          <li>loss of business opportunity, goodwill or reputation; or</li>
          <li>any indirect or consequential loss or damage.</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="container">
    <header>
      <h6>Term and Termination</h6>
    </header>
    <p>
      The Terms commence on the date when you accept and remain in full force
      and effect while you use the Website and our Services.
    </p>
  </div>
  <div class="container">
    <header>
      <h6>We may make changes to these terms</h6>
    </header>
    <p>
      We may amend these terms from time to time. Every time you wish to use our
      Website, please check these terms to ensure you understand the terms that
      apply at that time.
    </p>
  </div>
  <div class="container">
    <header>
      <h6>We may make changes to our Website</h6>
    </header>
    <p>
      We may update and change our Website from time to time to reflect changes
      to our users' needs and our business priorities. We will try to give you
      reasonable notice of any major changes.
    </p>
  </div>
  <div class="container">
    <header>
      <h6>We may suspend or withdraw our Website</h6>
    </header>
    <p>
      We do not guarantee that our Website, or any Content on it, will always be
      available or be uninterrupted. We may discontinue, suspend or withdraw or
      restrict the availability of all or any part of our Website for business
      and operational reasons. We will try to give you reasonable notice of any
      suspension or withdrawal.
    </p>
    <p>
      You are also responsible for ensuring that all persons who access our
      Website through your internet connection and subscription are aware of
      these terms of use and other applicable terms and conditions, and that
      they comply with them.
    </p>
  </div>
  <div class="container">
    <header>
      <h6>We may transfer this agreement to someone else</h6>
    </header>
    <p>
      We may transfer our rights and obligations under these terms to another
      organisation at any time without notice to you.
    </p>
  </div>
  <div class="container">
    <header>
      <h6>Which country's laws apply to any disputes?</h6>
    </header>
    <p>
      The terms of use, their subject matter and their formation, are governed
      by English law. You and we both agree that the courts of England and Wales
      will have exclusive jurisdiction.
    </p>
  </div>
</div>
