<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topbar></app-topbar>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card">
          <div class="row">
            <div class="col-sm-12">
              <div class="white-box">
                <h3 class="box-title">Pending User Requests</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="border-top-0">Name</th>
                        <th class="border-top-0">Email</th>
                        <th class="border-top-0">Compnay</th>
                        <th class="border-top-0">Website</th>
                        <th class="border-top-0">Company Region</th>
                        <th class="border-top-0">View Profile</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users; let i = index">
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.company }}</td>
                        <td>{{ user.website }}</td>
                        <td>{{ user.companyRegion }}</td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            (click)="setActiveUser(user, i)"
                          >
                            View Profile
                          </button>
                          <!-- Modal -->
                          <div
                            class="modal fade"
                            id="exampleModal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5
                                    class="modal-title"
                                    id="exampleModalLabel"
                                  >
                                    {{ user.firstName }} {{ user.lastName }}
                                  </h5>
                                  <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="col-sm-6 col-md-8">
                                    <p>
                                      <i
                                        class="fa fa-envelope"
                                        aria-hidden="true"
                                      ></i
                                      ><strong> Email: </strong>
                                      {{ user.email }}
                                      <br />
                                      <i
                                        class="fa fa-globe"
                                        aria-hidden="true"
                                      ></i
                                      ><strong> Website: </strong>
                                      <a href="{{ user.website }}">
                                        {{ user.website }}</a
                                      >
                                      <br />
                                      <i
                                        class="fa fa-phone"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Phone: </strong>
                                      {{ user.telephone }}
                                      <br />
                                      <i
                                        class="fa fa-map-marker"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Address: </strong>
                                      {{ user.address }}
                                      <br />
                                      <i
                                        class="fa fa-id-card"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Job Title: </strong>
                                      {{ user.jobTitle }}
                                      <br />
                                      <i
                                        class="fa fa-building-o"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Company: </strong>
                                      {{ user.company }}
                                      <br />
                                      <i
                                        class="fa fa-university"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> IATA/ABTA/AOTL No: </strong>
                                      {{ user.iataNo }}
                                      <br />
                                      <i
                                        class="fa fa-map-marker"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Company Location: </strong>
                                      {{ user.companyLocation }}
                                      <br />
                                      <i
                                        class="fa fa-globe"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Company Region: </strong>
                                      {{ user.companyRegion }}
                                      <br />
                                      <i
                                        class="fa fa-plane"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Flight Partner Type: </strong>
                                      {{ user.flightPartnerType }}
                                      <br />
                                      <i
                                        class="fa fa-comment-o"
                                        aria-hidden="true"
                                      ></i>
                                      <strong> Additional: </strong>
                                      {{ user.help }}
                                    </p>
                                    <br />

                                    <!-- Split button -->
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                  <button (click)="rejectUser()" type="button" class="btn btn-danger">
                                    Reject
                                  </button>
                                  <button (click)="approveUser()" type="button" class="btn btn-success">
                                    Accept
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
