<div *ngIf="isWeb">
  <div *ngIf="isActiveTicketAgenPriceCheckForm">
    <!-- <nav class="navbar toolBar">
            <div class="container">

                <div class="NavBarPosition">
                    <button type="button" class="btn btn-link" (click)="backToResultPage()"> <i
                        class="fas fa-chevron-left"></i>
                    Back to resutls</button>
                    <img mat-card-image src="assets/logo-Original.png" alt="logo" class="logo">

                </div>



            </div>
        </nav> -->

    <div class="card card-body custermizeCard">
      <div class="allign">
        <div class="row">
          <div class="col col-sm-12">
            <label class="arrivalCountrytextStyle">{{
              cabinclassNusersInfo.EndPoint
            }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-12">
            <label>{{ cabinclassNusersInfo.adultsCount }} adult .</label>
            <label>{{ cabinclassNusersInfo.childrenCount }} children .</label>
            <label>{{ cabinclassNusersInfo.searchType }} .</label>
            <label>{{ cabinclassNusersInfo.cabinClass }} class</label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mainStyle">
      <div class="container h-100">
        <div class="row changePosition">
          <div class="col-sm-8">
            <ul style="list-style: none; padding: 0" *ngIf="isTicketAvilable">
              <li
                *ngFor="let Ticket of selectedTicketObject.Segment; index as i"
              >
                <div class="row">
                  <div class="col col-sm-12">
                    <div class="row">
                      <div class="col col-sm-12">
                        <span>
                          <label class="typeStyles">
                            {{ getFlightInfo("name", i) }}
                          </label>
                          <label class="dateStyles commonColor">
                            {{ getFlightInfo("date", i) }}
                          </label>
                        </span>

                        <label class="float-right commonColor"
                          ><small> all times are local </small>
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col col-sm-12">
                        <div class="card cardTicket">
                          <button
                            class="btn"
                            type="button"
                            data-toggle="collapse"
                            [attr.data-target]="'#collapseTickeOne' + i"
                            aria-expanded="false"
                          >
                            <div class="row pt-2 pb-0">
                              <div class="col-sm-12">
                                <div class="row">
                                  <div class="col-sm-4 p-0 pl-2">
                                    <div class="flightLogoStyle">
                                      <ng-container
                                        *ngIf="
                                          checkPossibleToGetLogo(Ticket, 'Web');
                                          then OneAirLine;
                                          else MoreAirLines
                                        "
                                      >
                                      </ng-container>

                                      <ng-template #OneAirLine>
                                        <label>
                                          <img [src]="getLogo(Ticket, 'Web')" />
                                        </label>
                                      </ng-template>

                                      <ng-template #MoreAirLines>
                                        <label>
                                          {{ getLogo(Ticket, "Web") }}
                                        </label>
                                      </ng-template>
                                    </div>
                                  </div>

                                  <div class="col-sm-1 float-left">
                                    <label class="flightTimeStyle">
                                      {{ Ticket.departureTime }}
                                    </label>
                                    <br />
                                    <label class="flightCodeStyle">
                                      {{ Ticket.origin }}
                                    </label>
                                  </div>

                                  <div class="col-sm-4">
                                    <div class="form-group">
                                      <label class="spaceLineMainHeader">
                                        {{ Ticket.duration }}
                                      </label>
                                      <div class="spaceLineMain">
                                        <div class="spaceLine"></div>
                                        <i class="fas fa-plane"></i>
                                      </div>
                                      <label class="spaceLineMainFooter">
                                        {{ Ticket.transfer }}
                                      </label>
                                    </div>
                                  </div>

                                  <div class="col-sm-1 float-left">
                                    <label class="flightTimeStyle">
                                      {{ Ticket.arrivalTime }}
                                    </label>
                                    <br />
                                    <label class="flightCodeStyle">
                                      {{ Ticket.destination }}
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </button>

                          <div
                            [attr.id]="'collapseTickeOne' + i"
                            class="collapse"
                          >
                            <div class="CollapseTicketBtnStyle">
                              <ul style="list-style: none; padding: 0">
                                <li
                                  *ngFor="
                                    let Detail of Ticket.Detail;
                                    index as ii
                                  "
                                >
                                  <div class="ticketDetailLevelStyles">
                                    <div class="row">
                                      <div class="col-sm-1">
                                        <span class="durationStyle float-right"
                                          ><label>
                                            {{ Detail.duration }}</label
                                          ></span
                                        >
                                      </div>

                                      <div class="col-sm-11">
                                        <div class="div">
                                          <img
                                            [src]="
                                              getLogoInDetailLevel(
                                                Detail,
                                                'Web'
                                              )
                                            "
                                          />
                                        </div>
                                        <div class="timeLineCirecle">
                                          <div class="timeLineContent">
                                            <span>
                                              <label
                                                style="padding-right: 10px"
                                                >{{
                                                  Detail.departureTime
                                                }}</label
                                              >
                                              <label>{{
                                                getAirPort(Detail.departure)
                                              }}</label>
                                            </span>
                                            <br />
                                            <span>
                                              <label
                                                style="padding-right: 10px"
                                                >{{ Detail.arrivalTime }}</label
                                              >
                                              <label>{{
                                                getAirPort(Detail.arrival)
                                              }}</label>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>

                            <div class="card-footer changeCardStyle">
                              <div class="row">
                                <div class="col-sm-12">
                                  <span>
                                    <label
                                      ><strong>Arives:</strong>Sun, 26 Jul
                                      2020</label
                                    >
                                    |
                                    <label>
                                      <strong>Journey duration: </strong> 6h 55
                                    </label>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br />
              </li>
            </ul>

            <div class="lineStyles"></div>
            <br />

            <div class="row">
              <div class="col-sm-12">
                <label style="font-size: large">Book your ticket</label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <label class="commonColor"> Economy class, 1 adult </label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div id="accordion" class="">
                  <div class="card cardBeforeBookingTicket">
                    <div
                      class="card-header"
                      id="headingBeforeBookingTicket"
                      data-toggle="collapse"
                      data-target="#collapseBeforeBookingTicket"
                      aria-expanded="false"
                      aria-controls="collapseBeforeBookingTicket"
                    >
                      <i class="fas fa-info"></i> Read before booking
                    </div>

                    <div
                      id="collapseBeforeBookingTicket"
                      class="collapse"
                      aria-labelledby="headingBeforeBookingTicket"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        Prices shown always include an estimate of all mandatory
                        taxes and charges, but remember to check ALL ticket
                        details, final prices and terms and conditions on the
                        booking website before you book.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="agents">
              <div class="row lineStyles" *ngFor="let agent of avilableAgents">
                <div class="col col-sm-12">
                  <span>
                    <label class="float-left">{{ agent.agentName }}</label>

                    <div class="float-right">
                      <label>
                        <strong>GBP</strong>
                        {{
                          getGbpPrice(
                            agent.agentTicketPrice,
                            agent.agentTicketCurrency
                          )
                        }}</label
                      >&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="{{ agent.agentWebLink }}" target="_blank">
                        <button type="button" class="btn btn-sm btnStyle">
                          Select
                          <i class="fa fa-arrow-right"></i>
                        </button>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 verticleShadow">
            <div class="pt-3">
              <h4>Fly Stay Save</h4>
              <p>
                Unlock special discounts when you book a flight through us.
                Woohoo!
              </p>

              <div id="accordion" class="accordionMoreAboutThisOffer">
                <div class="row">
                  <div class="col col-sm-12">
                    <button
                      class="btn collapsed changeBtn-MoreAboutThisOffer-Styles"
                      type="button"
                      id="headingMoreAboutThisOffer"
                      data-toggle="collapse"
                      data-target="#collapseMoreAboutThisOffer"
                      aria-expanded="false"
                      aria-controls="collapseMoreAboutThisOffer"
                    >
                      More About this offer
                    </button>

                    <div id="collapseMoreAboutThisOffer" class="collapse">
                      <div class="card-body">
                        Who gets the discounts? All travellers who find a flight
                        using our app or website.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile">
  <div *ngIf="isActiveTicketAgenPriceCheckForm">
    <!-- <nav class="navbar toolBar">
            <div class="container">
                <div class="mobileNavBarPosition">
                    <button type="button" class="btn btn-link" (click)="backToResultPage()"> <i
                            class="fas fa-chevron-left"></i></button>
                    <img mat-card-image src="assets/Logo.png" alt="logo" class="logoMobile">

                </div>

            </div>
        </nav> -->

    <div class="card card-body custermizeCard">
      <div class="allign">
        <div class="row">
          <div class="col col-sm-12">
            <label class="arrivalCountrytextStyle">{{
              cabinclassNusersInfo.EndPoint
            }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-12">
            <label>{{ cabinclassNusersInfo.adultsCount }} adult .</label>
            <label>{{ cabinclassNusersInfo.childrenCount }} children .</label>
            <label>{{ cabinclassNusersInfo.searchType }} .</label>
            <label>{{ cabinclassNusersInfo.cabinClass }} class</label>
          </div>
        </div>
      </div>
    </div>

    <div class="mainStyle">
      <div class="container h-100">
        <div class="row changePosition">
          <div class="col-sm-8">
            <ul style="list-style: none; padding: 0" *ngIf="isTicketAvilable">
              <li
                *ngFor="let Ticket of selectedTicketObject.Segment; index as i"
              >
                <div class="row">
                  <div class="col col-sm-12">
                    <div class="row">
                      <div class="col col-sm-12">
                        <span>
                          <label class="typeStyles">
                            {{ getFlightInfo("name", i) }}
                          </label>
                          <label class="dateStyles commonColor">
                            {{ getFlightInfo("date", i) }}
                          </label>
                        </span>

                        <label class="float-right commonColor"
                          ><small> all times are local </small>
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="card cardTicket">
                          <button
                            class="btn"
                            type="button"
                            data-toggle="collapse"
                            [attr.data-target]="'#collapseTickeOne' + i"
                            aria-expanded="false"
                          >
                            <div class="row pt-2">
                              <div class="col-12">
                                <div class="row">
                                  <div class="resultCardLogo">
                                    <div class="col-12">
                                      <ng-container
                                        *ngIf="
                                          checkPossibleToGetLogo(
                                            Ticket,
                                            'Mobile'
                                          );
                                          then OneAirLine;
                                          else MoreAirLines
                                        "
                                      >
                                      </ng-container>

                                      <ng-template #OneAirLine>
                                        <label>
                                          <img
                                            [src]="getLogo(Ticket, 'Mobile')"
                                          />
                                        </label>
                                      </ng-template>

                                      <ng-template #MoreAirLines>
                                        <label>
                                          {{ getLogo(Ticket, "Mobile") }}
                                        </label>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-3 float-left">
                                    <label class="flightTimeStyle">
                                      {{ Ticket.departureTime }}
                                    </label>
                                    <br />
                                    <label class="flightCodeStyle">
                                      {{ Ticket.origin }}
                                    </label>
                                  </div>

                                  <div class="col-6">
                                    <div class="form-group">
                                      <label class="spaceLineMainHeader">
                                        {{ Ticket.duration }}
                                      </label>
                                      <div class="spaceLineMain">
                                        <div class="spaceLine"></div>
                                        <i class="fas fa-plane"></i>
                                      </div>
                                      <label class="spaceLineMainFooter">
                                        {{ Ticket.transfer }}
                                      </label>
                                    </div>
                                  </div>

                                  <div class="col-3 float-left">
                                    <label class="flightTimeStyle">
                                      {{ Ticket.arrivalTime }}
                                    </label>
                                    <br />
                                    <label class="flightCodeStyle">
                                      {{ Ticket.destination }}
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </button>

                          <div
                            [attr.id]="'collapseTickeOne' + i"
                            class="collapse"
                          >
                            <div class="mobileCollapseTicketBtnStyle">
                              <ul style="list-style: none; padding: 0">
                                <li
                                  *ngFor="
                                    let Detail of Ticket.Detail;
                                    index as ii
                                  "
                                >
                                  <div class="row pt-0">
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-12">
                                          <div
                                            class="mobileResultCardLogoDetailLevel"
                                          >
                                            <img
                                              [src]="
                                                getLogoInDetailLevel(
                                                  Detail,
                                                  'Mobile'
                                                )
                                              "
                                            />
                                          </div>
                                          <div class="timeLineCirecleMobile">
                                            <div class="timeLineContent">
                                              <span>
                                                <label
                                                  style="padding-right: 10px"
                                                  >{{
                                                    Detail.departureTime
                                                  }}</label
                                                >
                                                <label>{{
                                                  getAirPort(Detail.departure)
                                                }}</label>
                                              </span>
                                              <br />
                                              <span
                                                ><label
                                                  class="mobileTicketFlightTimeDuration"
                                                  ><i
                                                    class="fas fa-hourglass-half"
                                                  ></i>
                                                  {{ Detail.duration }}
                                                </label></span
                                              >
                                              <br />
                                              <span>
                                                <label
                                                  style="padding-right: 10px"
                                                  >{{
                                                    Detail.arrivalTime
                                                  }}</label
                                                >
                                                <label>{{
                                                  getAirPort(Detail.arrival)
                                                }}</label>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>

                            <div class="card-footer changeCardStyle">
                              <div class="row">
                                <div class="col-sm-12">
                                  <span>
                                    <label
                                      ><strong>Arives:</strong>Sun, 26 Jul
                                      2020</label
                                    >
                                    |
                                    <label>
                                      <strong>Journey duration: </strong> 6h 55
                                    </label>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br />
              </li>
            </ul>

            <div class="lineStyles"></div>
            <br />

            <div class="row">
              <div class="col-sm-12">
                <label style="font-size: large">Book your ticket</label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <label class="commonColor"> Economy class, 1 adult </label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div id="accordion" class="">
                  <div class="card cardBeforeBookingTicket">
                    <div
                      class="card-header"
                      id="headingBeforeBookingTicket"
                      data-toggle="collapse"
                      data-target="#collapseBeforeBookingTicket"
                      aria-expanded="false"
                      aria-controls="collapseBeforeBookingTicket"
                    >
                      <i class="fas fa-info"></i> Read before booking
                    </div>

                    <div
                      id="collapseBeforeBookingTicket"
                      class="collapse"
                      aria-labelledby="headingBeforeBookingTicket"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        Prices shown always include an estimate of all mandatory
                        taxes and charges, but remember to check ALL ticket
                        details, final prices and terms and conditions on the
                        booking website before you book.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="agents">
              <div class="row lineStyles" *ngFor="let agent of avilableAgents">
                <div class="col col-sm-12">
                  <span>
                    <label class="float-left">{{ agent.agentName }}</label>

                    <div class="float-right">
                      <label>
                        <strong>GBP</strong>
                        {{
                          getGbpPrice(
                            agent.agentTicketPrice,
                            agent.agentTicketCurrency
                          )
                        }}</label
                      >&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="{{ agent.agentWebLink }}" target="_blank">
                        <button type="button" class="btn btn-sm btnStyle">
                          Select
                          <i class="fa fa-arrow-right"></i>
                        </button>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 verticleShadow">
            <div class="pt-3">
              <h4>Fly Stay Save</h4>
              <p>
                Unlock special discounts when you book a flight through us.
                Woohoo!
              </p>

              <div id="accordion" class="accordionMoreAboutThisOffer">
                <div class="row">
                  <div class="col col-sm-12">
                    <button
                      class="btn collapsed changeBtn-MoreAboutThisOffer-Styles"
                      type="button"
                      id="headingMoreAboutThisOffer"
                      data-toggle="collapse"
                      data-target="#collapseMoreAboutThisOffer"
                      aria-expanded="false"
                      aria-controls="collapseMoreAboutThisOffer"
                    >
                      More About this offer
                    </button>

                    <div id="collapseMoreAboutThisOffer" class="collapse">
                      <div class="card-body">
                        Who gets the discounts? All travellers who find a flight
                        using our app or website.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
