.NavBarPosition{
    position: relative;
}
    
.logo{
        position: absolute;
        top: 50%;
        left:350%;
        transform: translateY(-50%);
        width: 4cm;
}


.toolBar{
    background-color: rgba(255,255,255);
}

.custermizeCard{
      border: none;
      background-color: rgb(4, 39, 89); 
      color: white;
}

.cardTicket{
    border-radius: 10px;
    border: 1px solid  rgba(255,255,255);;
}


.allign{
    text-align: center;
}    

.arrivalCountrytextStyle{
    font-size:xx-large;
    font-weight: bold;
}

.mainStyle{
background-color: rgb(241, 241, 248);
}


.changeCardStyle{
    background-color: rgb(255, 255, 255);
    max-height: 100px auto;
}

.typeStyles{
font-weight: bold;
font-size: large;
padding-right: 5px;
}

.dateStyles{
font-size: small;
}

.commonColor{
    color: rgb(104, 105, 127);
}

.cardBeforeBookingTicket{
    border-radius: 10px;
    border: 1px solid rgb(104, 105, 127);
}

.btnStyle{
    background-color: rgb(0, 136, 125);
    font-weight: bold;font-size:medium;
    color: rgb(255, 255, 255);
}

.agents{
    padding-top: 40px;
}



.modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}
    
.modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
    
.modal-body {
    overflow-y: auto;
    border: none;
    margin: 0;
    padding: 0;
}
   
  

html {
    display: flex;
    height: 100%;
}
  
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.btn-open-modal {
    margin-bottom: 0.5em;
}


.spaceLineMainHeader{
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    top: 0cm;
    font-size:smaller;
    padding-top: 10px;
  
    font-size: medium;
  
  
}

.spaceLineMain{
    display:inline-flex;
    width: 100% ;
    padding: 0cm !important;
    margin: 0cm !important;
    
}


.spaceLineMainFooter{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size:smaller;
}

.flightTimeStyle{
    font-size: x-large
}

.flightCodeStyle{
    color: #8888887c;
    font-size: large;
}

.spaceLineMain{
    display:inline-flex;
    width: 100% ;
    padding: 0cm !important;
    margin: 0cm !important;
        
}

.spaceLine{
    padding: 0cm;
    margin: 0cm;
    border-bottom: 1px solid black;
    width: 100%;
   
}




.verticleShadow {
    border-left: 1px solid #8888887c;
}
          
hr.custermizeLine {
    border: 1px solid #8888887c;
    border-radius: 2px;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;

}



.changePosition{
padding-top: 60px;
padding-bottom: 60px;
}          


.changeBtn-MoreAboutThisOffer-Styles{
    border: 1px solid #8888887c;
    width: 100%;
}



.accordionMoreAboutThisOffer .btn:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}

.accordionMoreAboutThisOffer .btn.collapsed:after {
    /* symbol for "collapsed" panels */
    font-family: 'FontAwesome';  
    float: right; 
    content: "\f067"; 
}


.timeLineCirecle{
    border-left: 1px solid #8888887c;
}


.timeLineContent{
    margin-left: 20px;;
}


.circle {position: relative; border: 2px solid #999; border-radius: 100%; width: 50px; line-height: 50px; text-align: center; margin-top: 50px; background-color: #fff; z-index: 2;}
.circle:first-child {margin-top: 0;}
.circle:before {position: absolute; border: 1px solid #999; width: 0; height: 50px; display: block; content: ''; left: 50%; z-index: 1; top: -54px; margin-left: -1px;}
.circle:first-child:before {display: none;}



/* DIV.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle } */

.durationStyle{
    margin-top: 250%;
}

.boxShadow{

    height: 50px;
    width: 100%;
    background-color: rgb(241, 241, 248);
    border: 10px;
    border-radius: 5px;
}

.lineStyles{
    padding-bottom: 15px;
    border-bottom: 1px solid #8888887c;
}

.ticketDetailLevelStyles{
    margin-left: 90px;
    font-size: medium;
    font-weight: bolder;
}





.resultCardLogo{
    margin-bottom: 10px;
    margin-left: 10px;
}


.CollapseTicketBtnStyle{
    border-top: 1px solid #8888887c;
}

  /* mobile styles */

.logoMobile{
    position: absolute;
    top: 50%;
    left:80px;
    transform: translateY(-50%);
    width: 4cm;
  
}

.mobileNavBarPosition{
position: relative;
}


.timeLineCirecleMobile{
    margin-left: 20px;
    border-left: 1px solid #8888887c;
}

.mobileResultCardLogoDetailLevel{
    margin-left: 20px;
}

.mobileTicketFlightTimeDuration{
      font-size: small;
      color: rgb(104, 105, 127);
      margin-left: 10px;
}

.mobileCollapseTicketBtnStyle{
      border-top: 1px solid #8888887c;
}

