.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    z-index: 3;
}

#logbtn{
    margin-top: 10px;
}

.row{
   display: contents;
}

.bg-light {
    background-color: #ffffff!important;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000000 !important;
        position: relative;
        top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.ftco-navbar-light .container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.ftco-navbar-light .navbar-brand {
    color: #fff3;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-brand {
        color: #fff3;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.ftco-navbar-light .navbar-nav {
    margin-right: 1em;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 20px;
        margin-right: 0;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff3;
    font-weight: 500;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover,
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:focus {
    color: #fff3;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        color: #fff3;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    border: none;
    background: #fff3;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
        display: none;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff3;
    border: 1px solid #f15d30;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 18px;
    padding-right: 18px;
    background: #f15d30;
    margin-top: .5rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a span {
    display: inline-block;
    color: #fff3;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a:hover {
    background: #f15d30;
    border: 1px solid #f15d30;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta.cta-colored a {
    border: 1px solid #040e26;
    background: #040e26 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #f15d30;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.active>a {
        color: #f15d30;
    }
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:hover,
.ftco-navbar-light .navbar-toggler:focus {
    text-decoration: none;
    color: #f15d30;
    outline: none !important;
}

.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff3 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .nav-item>.nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }
}

.ftco-navbar-light.scrolled .nav-item.active>a {
    color: #f15d30 !important;
}

.ftco-navbar-light.scrolled .nav-item.cta>a {
    color: #fff3 !important;
    background: #f15d30;
    border: none !important;
    padding-top: 0.5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-top: 6px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.ftco-navbar-light.scrolled .nav-item.cta>a span {
    display: inline-block;
    color: #fff3 !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color: #f15d30;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        margin-left: 0 !important;
    }
}

.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light.scrolled .nav-link {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    color: #000000 !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
    color: #f15d30 !important;
}

.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
    color: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}

.navbar-brand span {
    font-size: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    color: #f15d30;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-- //wrapper start --*/

/*-- form styling --*/
.w3l-workinghny-form .logo {
    text-align: center;
}

.w3l-workinghny-form .logo a.brand-logo {
    display: inline-block;
    text-align: center;
    font-size: 35px;
    line-height: 1.1em;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.w3l-workinghny-form h1 {
    font-size: 50px;
    line-height: 1.1em;
    font-weight: 700;
    color: #3f3a64;
}

.w3l-workinghny-form {
    position: relative;
    z-index: 0;
    padding: 3em 0px;
    display: grid;
    align-items: center;
    min-height: 100vh;
    /* background: url(../images/banner.jpg) no-repeat center; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;

}

.w3l-workinghny-form:before {
    content: "";
    background: rgba(0, 4, 4, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-workinghny-form .pos-relative {
    position: relative;
}

.w3l-workinghny-form p.copy-footer-29 {
    color: #eee;
}

.w3l-workinghny-form p.copy-footer-29 a {
    color: #fff;
}

.w3l-workinghny-form p.copy-footer-29 a:hover {
    color: #fbbb92;
}

.w3l-workinghny-form h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.workinghny-block-grid {
    border-radius: 5px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    height: auto;
    max-width: 400px;
    padding: 40px;
    width: 100%;
    margin: 40px auto;
    background: #fff;
}

.w3l-workinghny-form .login-form-content {
    padding-top: 2em;
}

.w3l-workinghny-form input {
    border: 2px solid #e3e3e3;
    color: #777;
    background: #fff;
    font-size: 17px;
    line-height: 28px;
    padding: 12px 26px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 35px;
    outline: none;
}

.w3l-workinghny-form input:focus {
    border: 2px solid #f1c6aa;
    box-shadow: none;
}

.w3l-workinghny-form .btn-style {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #fbbb92;
    border: none;
    padding: 15px 20px;
    font-weight: 700;
    border-radius: 35px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.w3l-workinghny-form .btn-style:hover {
    background: #fdb485;
    transform: translateY(-3px);
}

.w3l-workinghny-form p.already,
.w3l-workinghny-form p.already a {
    font-size: 17px;
    line-height: 25px;
    color: #495057;
    margin: 25px 0 0;
    text-align: center;
}

.w3l-workinghny-form p.remember {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

.w3l-workinghny-form p.already a {
    color: #495057;
    font-weight: 700;
}

.w3l-workinghny-form p.already a:hover {
    color: #fbbb92;
}

.w3l-workinghny-form .check-remaind input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.w3l-workinghny-form .check-remaind {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3l-workinghny-form .check-remaind input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.w3l-workinghny-form .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #F5F4F2;
    border-radius: 4px;
}

.w3l-workinghny-form .check-remaind:hover input~.checkmark {
    background-color: #fbbb92;
}

.w3l-workinghny-form .check-remaind input:checked~.checkmark {
    background-color: #fbbb92;
}

.w3l-workinghny-form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.w3l-workinghny-form .check-remaind input:checked~.checkmark:after {
    display: block;
}

.w3l-workinghny-form .check-remaind .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.social-media a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #eee;
    border-radius: 15px;
}
.social-media a span {
    margin-right: 8px;
}

.social-media a.fb {
    background: #3b5998;
    color: #fff;
}
.social-media a.fb:hover {
    background: #314e8a;
}
.social-media a.tw {
    background: #1da1f2;
    color: #fff;
}
.social-media a.tw:hover {
    background: #1091e1;
}

/* -- placeholder --*/
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #777;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #777;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #777;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #777;
}

/* -- placeholder --*/


/*-- responsive design --*/
@media (max-width: 992px) {
    .w3l-workinghny-form .workinghny-block-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 100%;
    }

    .w3l-workinghny-form .login-form-content {
        padding: 0em 0em 2em 0;
    }

    .workinghny-left-img {
        order: 2;
    }

    .w3l-workinghny-form .logo a.brand-logo {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .w3l-workinghny-form {
        height: auto;
    }
}

@media (max-width: 667px) {
    .w3l-workinghny-form .align-end {
        padding: 0em;
    }
}

@media (max-width: 480px) {
    .w3l-workinghny-form .logo a.brand-logo {
        font-size: 35px;
    }

    .w3l-workinghny-form h2 {
        font-size: 22px;
    }
}

@media (max-width: 415px) {
    .w3l-workinghny-form .copyright {
        margin-top: 30px;
    }
}