<head>
  <!-- Taboola Pixel Code -->
  <script type="text/javascript">
    window._tfa = window._tfa || [];
    window._tfa.push({ notify: "event", name: "page_view", id: 1341062 });
    !(function (t, f, a, x) {
      if (!document.getElementById(x)) {
        t.async = 1;
        t.src = a;
        t.id = x;
        f.parentNode.insertBefore(t, f);
      }
    })(
      document.createElement("script"),
      document.getElementsByTagName("script")[0],
      "//cdn.taboola.com/libtrc/unip/1341062/tfa.js",
      "tb_tfa_script"
    );
  </script>
  <noscript>
    <img
      src="https://trc.taboola.com/1341062/log/3/unip?en=page_view"
      width="0"
      height="0"
      style="display: none"
    />
  </noscript>
  <!-- End of Taboola Pixel Code -->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-KD9ZBK7");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->

  <!-- End Google Tag Manager (noscript) -->
</head>

<body>
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-KD9ZBK7"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <div *ngIf="router.url == '/'">
    <app-covid-banner></app-covid-banner>
  </div>

  <div class="container-fluid bg-light">
    <div class="container">
      <br />
      <a href="/">
        <img
          mat-card-image
          src="assets/logo-Original.png"
          alt="logo"
          style="width: 5cm"
        />
      </a>

      <button
        *ngIf="loginbtn"
        id="logbtn"
        type="button"
        class="btn btn-outline-primary d-inline pull-right"
        (click)="open(mymodal)"
      >
        <strong>Log in</strong>
      </button>
      <button
        *ngIf="loginbtn == false"
        class="btn btn-primary dropdown-toggle d-inline pull-right"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Welcome {{ firstName }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/user">My Dashbaord</a>
        <a class="dropdown-item" (click)="handleSignOut()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
      <span class="spacer"></span>
    </div>
    <br />
  </div>
</body>

<div
  class="modal fade"
  id="logoutModal "
  tabindex="-1 "
  role="dialog "
  aria-labelledby="exampleModalLabel "
  aria-hidden="true "
>
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel ">Ready to Leave?</h5>
        <button
          class="close"
          type="button "
          data-dismiss="modal "
          aria-label="Close "
        >
          <span aria-hidden="true ">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout " below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button " data-dismiss="modal ">
          Cancel
        </button>
        <a class="btn btn-primary" href="/">Logout</a>
      </div>
    </div>
  </div>
</div>

<div id="userlogin">
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Login to your Farefinder account
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="row">
            <button
              [disabled]="loading"
              class="btn btn-primary"
              (click)="modal.dismiss('Cross click')"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
            <p class="already">
              Don't have an account? <a href="/account/register">Sign up</a>
            </p>
          </div>
          <div class="social-media">
            <a href="#facebook" class="fb"
              ><span class="fab fa-facebook" aria-hidden="true"></span> Login
              with facebok</a
            >
            <a href="#twitter" class="tw"
              ><span class="fab fa-twitter" aria-hidden="true"></span> Login
              with twitter</a
            >
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>
