<app-where-to-next></app-where-to-next>

<br />

<div class="container" *ngFor="let catMap of list">
  <div *ngIf="catMap.get('posts').length > 0">
    <h3 style="font: size 40px">{{ catMap.get("categoryName") }}</h3>
    <div class="row mt-4">
      <div
        id="colmn"
        class="col-sm-4"
        *ngFor="let postMap of catMap.get('posts') | slice: 0:3; let i = index"
        [class.active]="i == currentIndex"
      >
        <div id="colpic" class="card h-200" >
          <div class="inner h-100">
            <img
              *ngIf="loading"
              src="/assets/Preloader_2.gif"
              height="64"
              alt="loading"
            />
            <img
              [hidden]="loading"
              (load)="onLoad()"
              class="card-img-top"
              src="{{ postMap.get('image') }}"
              height="330px"
              style="object-fit: cover;"
              alt="image comes here"
            />
          </div>

          <div class="card-body">
            <div class="card-text p-0">
              <span>{{ postMap.get("city") }}, </span>
              {{ postMap.get("country") }}<br />
            </div>
            <h6 class="GetPrice">
              {{ postMap.get("description") }}
              <span><i class="fas fa-chevron-right"></i></span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <app-mydeals></app-mydeals>
</div> -->

<!-- Cartoon Images -->

<div class="container-fuild mb-0 pb-0" id="go">
  <div class="container pt-5 mb-0 pb-0">
    <app-gowhere></app-gowhere>
  </div>
</div>

<div class="container">
  <app-plan-your-trip></app-plan-your-trip>
</div>

<!-- <div class="container-fuild mb-0 pb-0" id="explore">
    <div class="container">
        <app-explore-partners-company-help></app-explore-partners-company-help>
    </div>
</div> -->
