#go {
  background-color: rgba(128, 128, 128, 0.103);
}

#explore {
  background-color: rgb(10, 10, 54);
  color: white;
}

#go {
  background-color: rgba(128, 128, 128, 0.103);
}

#explore {
  background-color: rgb(10, 10, 54);
  color: white;
}

#colmn {
  padding-left: 15px;
}

#colpic{
  max-height: 90%;
}

@media (max-width: 576px) {
  #colmn {
    padding-left: 15px;
  }
}

.card-body {
  background-color: rgb(10, 10, 54);
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inner:hover img {
  transform: scale(1.2);
}

.card span {
  font-weight: bold;
  font-size: x-large;
}

.card {
  box-shadow: black;
  border-radius: 5px 5px 5px 5px;
  max-height: 80%;
}

.GetPrice {
  color: rgb(219, 94, 21);
  font-weight: bold;
  font-size: small;
}

.GetPrice i {
  font-size: 0.8rem;
  vertical-align: baseline;
}
