<div id="wrapper">
  <!-- Sidebar -->
  <app-user-sidebar></app-user-sidebar>

  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topbar></app-topbar>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card">
          <h4 class="card-header">Add New API</h4>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="city">Enter API URL</label>
                <div class="row">
                  <input
                    type="text"
                    formControlName="city"
                    class="form-control"
                  />
                  <button id="apiurlbtn" [disabled]="loading" class="btn btn-success">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Test API
                  </button>
                  <div id="apiurl" class="alert alert-success" role="alert">
                    ...
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="description">API Reference Name</label>
                <input
                  type="text"
                  formControlName="description"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <!-- <div class="alert alert-success" role="alert">...</div> -->
                <button [disabled]="loading" class="btn btn-primary">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Save API
                </button>
                <!-- <a routerLink="../login" class="btn btn-link">Cancel</a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
