<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<div class="center">
    <div id="social">
        <ul>
            <li>
                <a href="https://www.facebook.com/farefinder" target="_blank">
                    <img src="../../../assets/facebook.png" />
                </a>
            </li>

            <li>
                <a href="https://twitter.com/farefinderuk/" target="_blank">
                    <img src="../../../assets/twitter.png" />
                </a>
            </li>

            <li>
                <a href="https://www.instagram.com/farefinderuk/" target="_blank">
                    <img src="../../../assets/instagram.png" />
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/company/farefinder" target="_blank">
                    <img src="../../../assets/linkedin.png" />
                </a>
            </li>
        </ul>
    </div>
</div>