<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <!-- <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div> -->
    <img
      mat-card-image
      src="assets/logo-white.png"
      alt="logo"
      style="width: 5cm"
    />
    <!-- <div class="sidebar-brand-text mx-3">FareFinders</div> -->
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Posts</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage Posts:</h6>
        <a class="collapse-item" routerLink="/createpost/add"
          >Create New Post</a
        >
        <a class="collapse-item" routerLink="/posts">View All Posts</a>
        <a class="collapse-item" routerLink="/post/category"
          >View Posts By Category</a
        >
        <a class="collapse-item" href="cards.html">Drafts</a>
      </div>
    </div>
  </li>

  <!-- Categories -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseThree"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Categories</span>
    </a>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage Categories:</h6>
        <a class="collapse-item" routerLink="/createcategory/add"
          >Create New Category</a
        >
        <a class="collapse-item" routerLink="/categories"
          >View Active Categories</a
        >
      </div>
    </div>
  </li>

  <!-- Destinations -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseFour"
      aria-expanded="true"
      aria-controls="collapseFour"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Destinations</span>
    </a>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage Destinations:</h6>
        <a class="collapse-item" routerLink="/createdestination/add"
          >Create New Destination</a
        >
        <a class="collapse-item" routerLink="/destinations"
          >View Active Destinations</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Analytics</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Generate Reports:</h6>
        <a class="collapse-item" href="utilities-color.html"
          >Generate Daily Reports</a
        >
        <a class="collapse-item" href="utilities-border.html"
          >Generate Weekly Reports</a
        >
        <a class="collapse-item" href="utilities-animation.html"
          >Generate Monthly Reports</a
        >
        <a class="collapse-item" href="utilities-other.html"
          >Generate Custom Reports</a
        >
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Users</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fas fa-fw fa-user"></i>
      <span>Manage Users ({{pendingcount}})</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage Users:</h6>
        <a class="collapse-item" routerLink="/registeredusers">View All Users</a>
        <a class="collapse-item" routerLink="/pendingusers">Pending User Requests ({{pendingcount}})</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
</ul>
