<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
    <div id="content-wrapper">
        <div id="content">
            <app-topbar></app-topbar>
            <div class="container-fluid ">

                <!-- Page Heading -->
                <div class="list row">
                    <div class="col-sm-4">
                        <h3>Posts List</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let post of posts; let i = index" [class.active]="i == currentIndex" (click)="setActivepost(post, i)">
                                {{ post.city }} in {{post.category}}
                            </li>
                        </ul>

                        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllposts()">
                          Remove All
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <div *ngIf="currentpost">
                            <h4>Post Details</h4>
                            <div>
                                <label><strong>City:</strong></label> {{ currentpost.city }}
                            </div>
                            <div>
                                <label><strong>Country:</strong></label> {{ currentpost.country }}
                            </div>
                            <div>
                                <label><strong>Description:</strong></label> {{ currentpost.description }}
                            </div>
                            <div>
                                <label><strong>Image:</strong></label>
                            </div>
                            <div>
                                <img src="{{ currentpost.img }}" width="600px">
                            </div>
                            <br>
                            <a class="btn btn-warning mr-2" routerLink="/posts/{{ currentpost.id }}">
                            Edit Post
                          </a>
                            <button class="btn btn-danger mr-2" (click)="deletepost()">
                            Delete
                          </button>
                        </div>

                        <div *ngIf="!currentpost">
                            <br />
                            <p>Please click on a post...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>