<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-topbar></app-topbar>
            <div class="container-fluid ">

                <!-- Page Heading -->
                <div class="list row">
                    <div class="col-md-4 mycontent-left">
                        <h3>Category List</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let category of categories; let i = index" [class.active]="i == currentIndex" (click)="setActivecategory(category, i)">
                                {{ category.categoryName }}
                            </li>
                        </ul>

                        <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllcategories()">
                          Remove All
                        </button> -->
                    </div>
                    <div class="col-md-8">
                        <div class="mycontent-right" *ngIf="currentcategory">
                            <h4>Category Details</h4>
                            <div>
                                <label><strong>Title:</strong></label> {{ currentcategory.categoryName }}
                            </div>
                            <div>
                                <label><strong>Description:</strong></label> {{ currentcategory.categoryDescription }}
                            </div>
                            <button class="badge badge-danger mr-2" (click)="deletecategory()">
                                    Delete
                                </button>
                        </div>

                        <div *ngIf="!currentcategory">
                            <br />
                            <p>Please click on a category</p>
                        </div>
                        <hr/>
                        <div class="col-md-8">
                            <div *ngIf="currentcategory">
                                <b>Posts in {{currentcategory.categoryName}}</b>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let post of posts;">
                                    {{ post.city }} : {{post.country}} - {{post.description}}
                                    <button type="button" class="btn btn-info pull-right">View Post</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>