#C11_H {
  background-color: rgb(4, 39, 89);
  color: white;
}

/* COVID DIV */
#covid {
  font-family: "Skyscanner Relative", -apple-system, BlinkMacSystemFont,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Arial", sans-serif;
  font-size: small;
  /* line-height: 1.3rem; */
  box-sizing: inherit;
  position: relative;
  display: block;
  background-color: #fff;
  color: #111236;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(37, 32, 31, 0.3);
  border-radius: 0.75rem;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  padding-top: 0.75rem;
  text-align: left;
}

@media only screen and (min-width: 1180px) {
  span {
    font-size: medium;
  }

  a {
    font-size: medium;
    /* font-weight: 400; */
  }

  p {
    line-height: 00.75rem;
  }

  label {
    font-size: smaller;
  }
}

#collapsebtn{
  float: right;
}

.fb-item {
  width: 715px;
  height: 200px;
  margin: 10px 10px;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  padding: 10px;
}

.fb-item-mobile {
  width: 350px;
  height: 100px;
  margin: 10px 10px;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  padding: 10px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.card {
  border-radius: 0.5rem;
}

.card-header.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 7px 0px;
  border-radius: 20px;
  background-color: rgb(66, 197, 136);
  text-align: center;
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 7px 0px;
  border-radius: 20px;
  text-align: center;
}

.btn-circle.btn-xs {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 15px;
  background-color: rgb(66, 197, 136);
  text-align: center;
}

.btn-circle.btn-xxs {
  width: 25px;
  height: 25px;
  padding: 0px 0px;
  border-radius: 15px;
  background-color: rgb(66, 197, 136);
  text-align: center;
}

.accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

#active {
  background-color: rgb(10, 10, 54);
  color: white;
}

#inactive {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#explore {
  margin: auto;
  background-color: rgb(10, 10, 54);
  color: white;
}

#innerCard {
  box-shadow: 0px 1px 3px #8888887c;
}

#innerCard:hover {
  box-shadow: 0px 3px 5px #8888887c;
}

#Mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #web {
    display: none;
  }
  #Mobile {
    display: grid;
  }
  .card-title {
    margin-bottom: 0px;
  }
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: rgba(247, 247, 247, 0.938);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#CARD_INNER_BODY {
  background-color: rgb(4, 39, 89);
  padding: 20px;
  border-radius: 5px;
  box-shadow: whitesmoke;
}

#ToText {
  border-radius: 0px;
}

.border {
  border-radius: 0px;
}

#ToTextEnd {
  border-radius: 0px 5px 5px 0px;
}

#ToTextSt {
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}

#rtn_OneWay_1row {
  font-size: x-small;
  font-weight: bold;
}

#rtn_OneWay_2row {
  font-size: small;
  font-weight: bold;
}

#rtn_OneWay_3row {
  font-size: small;
  font-weight: bold;
}

#M_city {
  padding-top: 30px;
}

#M_city table {
  border: 0px;
}

#M_city td {
  padding: 1px;
}

.wave-container {
  position: relative;
  background: rgb(255, 255, 255);
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.wave-container > svg {
  display: block;
  -webkit-filter: invert(0.75);
  /* safari 6.0 - 9.0 */
  filter: invert(0.75);
}

h1 {
  font-size: 5rem;
  margin: 7rem 1.25rem 2.5rem 1.25rem;
}

/* p {
  font-size: 1.5rem;
  margin: 0 1.25rem 5rem 1.25rem;
} */

#whereNext_Mobile {
  display: none;
}

#mobilebg {
  background-color: rgb(4, 39, 89);
  color: white;
}

/* @media only screen and (max-width: 600px) {
  #WhereNext_web {
    display:none;
  }
  #whereNext_Mobile{
    display:block;
    color: white;
  }
} */

.dropdown-toggle::after {
  display: none;
}

.btn-circle.btn-sm {
  width: 35px;
  height: 35px;
  padding: 6px 0px;
  border-radius: 18px;
  font-size: 8px;
  text-align: center;
}

#cabinButtons {
  color: rgb(0, 140, 255);
  border: 2px solid rgba(163, 163, 163, 0.473);
}

#cabinButtons:hover {
  color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
}

#cabinButtons[disabled] {
  background-color: #dfd2d2ad;
  color: #7c7373da;
}

#cabinButtons[disabled]:hover {
  background-color: #dfd2d2ad;
  color: #7c7373da;
  border: 2px solid rgba(163, 163, 163, 0.473);
  cursor: not-allowed;
}

#fullwin {
  max-width: 1340px;
}
/* CSS for flight resultCard */

.resultCardLogo {
  margin-bottom: 10px;
}

.spaceLineMain {
  display: inline-flex;
  width: 100%;
  padding: 0cm !important;
  margin: 0cm !important;
}

.spaceLine {
  padding: 0cm;
  margin-left: 20px;
  margin-right: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}

.spaceLineMainFooter {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
   top: 0cm; 
  font-size: smaller;
  padding-top: 60px; */
  position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: smaller;
    width: 100px;
    margin-left: 10px;
    text-align: center;
}
.spaceLineMainFooterRed {
 
  position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: smaller;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    color: rgb(224, 31, 17);

}

.spaceLineMainHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 0cm;
  font-size: smaller;
  padding-top: 10px;
  font-size: medium;
}

.resultCardStyle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.resultCardStyleMobile {
  justify-content: center;
  text-align: center;
}

.resultCardPriceStyle {
  font-size: medium;
  font-weight: bold;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.resultCardBtnStyle {
  background-color: rgb(0, 136, 125);
  font-size: small;
}

.verticleShadow {
  border-left: 1px solid #8888887c;
}

.flightLogoStyle {
  text-align: center;
  align-items: center;
}

.flightCodeStyle {
  color: #8888887c;
  font-size: large;
}

.flightTimeStyle {
  font-size: x-large;
}

.pickFlight {
  padding: 0cm;
  margin: 0cm;
}

.pickFlightBorder {
  border-bottom: 1px solid #8888887c;
}

.cabinClassTravellersDropdownFooter {
  margin-top: 20px;
  border-bottom: 1px solid #8888887c;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 4cm;
  height: 4cm;
  margin: 0;
  padding: 0cm;
}

.televisionBox {
  text-align: center;
}

.noRecordFoundDescrption {
  text-align: center;
  top: 0cm;
  margin-left: 30px;
  margin-right: 30px;
}

.ShoreMoreBtnStyle {
  margin-top: 20px;
  text-align: center;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
  top: 0.1rem !important;
  left: -2rem !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.custom-control-lg .custom-control-label {
  margin-left: 0.5rem !important;
  /* font-size: 1rem !important; */
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.progress {
  margin: 0 auto;
  width: 400px;
}

.blinking {
  animation: blinkingText 1.5s infinite;
  margin: 0 auto;
  text-align: center;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* radio button styling end */

.pH-multi-slider-class .irs-from,
.pH-multi-slider-class .irs-to {
  display: none !important;
}

.pH-multi-slider-class .irs-handle {
  width: 12px !important;
  height: 12px !important;
  top: 15px !important;
  border: 1px solid #d89b2a !important;
  border-radius: unset !important;
}

.pH-multi-slider-class .irs-bar {
  background-color: #05234a !important;
}

.pH-multi-slider-class .irs-bar,
.pH-multi-slider-class .irs-line {
  top: 20px !important;
}

.pH-multi-slider-class .irs-grid {
  top: 27px !important;
  left: 6px !important;
  right: 6px !important;
  height: 1em !important;
}

.pH-multi-slider-class .irs-grid-pol {
  display: none !important;
}

.mobile-filterations-btn-styles {
  border: 1px solid #8888887c;
  width: 100%;
}

.irs-bar{
  background-color: #000;
}

.fa-plane {
  position: absolute;
  right: 0px;
  top: 8px;
}
.spaceLine {margin-left:30px;}

/* .dotline { 
  height: 5px;
  width: 5px;
  background-color: rgb(119, 13, 13);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 64px;
  top: 14px;
} */

/* .spaceLineMainFooter[_ngcontent-fxo-c176] {
position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: smaller;
    width: 100px;
    margin-left: 10px;
    text-align: center;
} */