<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topbar></app-topbar>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card">
          <h4 class="card-header">Create New Destination</h4>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="destinationName">Destination Name</label>
                <input
                  type="text"
                  formControlName="destinationName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.destinationName.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.destinationName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.destinationName.errors.required">
                    Destination Name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="destinationImage">Image URL</label>
                <input
                  type="text"
                  formControlName="destinationImage"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.destinationImage.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.destinationImage.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Create
                </button>
                <!-- <a routerLink="../login" class="btn btn-link">Cancel</a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
