<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topbar></app-topbar>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card">
          <div class="row">
            <div class="col-sm-12">
              <div class="white-box">
                <h3 class="box-title">Registered Users</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="border-top-0">User ID</th>
                        <th class="border-top-0">First Name</th>
                        <th class="border-top-0">Last Name</th>
                        <th class="border-top-0">Email</th>
                        <th class="border-top-0">Compnay</th>
                        <th class="border-top-0">Role</th>
                        <th class="border-top-0">APIs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.company}}</td>
                        <td>{{user.userrole}}</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
