<div>
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Us</h1>
                <p class="lead text-muted mb-0">Farefinder compares hundreds of travel sites to find the best deals for travelers & holidaymakers. We are essentially a comparison site, simply here to point you in the right direction but not selling any flights, hotel bookings, or any
                    other service directly. Our service compares thousands of flights and millions of hotel rooms and accommodation options around the world to find the best for travelers at the lowest possible costs! The process is simple and straightforward,
                    Farefinder lists the cheapest options for you and you then select the most favorable one for your needs. From there, we will redirect you to the supplier website where you can complete the booking in a few easy steps.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="../../../assets/plane-5095296_1280.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>