.card-body{
    background-color: rgba(10, 10, 54, 0);
    color: rgb(0, 0, 0);
    border-radius: 0px 0px 5px 5px;

}


.card span{
    font-weight: bold;
    font-size: x-large;
}
.card{
    background-color: rgba(222, 184, 135, 0);
    box-shadow: none;
    border: 0px;
    max-height: 50%;
}
