<div class="row mt-2" *ngIf="web">
  <div class="col-sm-3">
    <div class="card pb-3">
      <div class="inner">
        <img
          class="card-img-top"
          src="assets/1125.png"
          alt="landon"
          style="height: 200px"
        />
      </div>

      <div class="card-body">
        <div class="card-text p-0" align="center">
          <span>Why we are free!</span><br />
          <p>
            Farefinder does not charge a fee from travellers for services
            rendered! we are an entirely free service to ensure you get nothing
            but convenience!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="inner">
        <img
          class="card-img-top"
          src="assets/4056358.png"
          alt="bangkok"
          style="height: 200px"
        />
      </div>

      <div class="card-body">
        <div class="card-text p-0" align="center">
          <span>Are we getting the Right Price?</span>
          <p>
            Funny enough, booking a flight directly often attracts the full
            ticket fare. We are giving you the option to compare prices of
            tickets and hotel bookings to find where the best bargain is!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="inner">
        <img
          class="card-img-top"
          src="assets/3369733.png"
          alt="bangkok"
          style="height: 200px"
        />
      </div>

      <div class="card-body">
        <div class="card-text p-0" align="center">
          <span>Leading Travel Search Engines</span>
          <p>
            To get the best for you, Farefinder compares travel deals from
            world’s leading travel search engines.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="inner">
        <img
          class="card-img-top"
          src="assets/4201235.png"
          alt="bangkok"
          style="height: 200px"
        />
      </div>

      <div class="card-body">
        <div class="card-text p-0" align="center">
          <span>Get inspired</span>
          <p>
            To stay updated on the latest travel news, hot deals, and great
            savings, follow us on our social media platforms today; Facebook,
            Twitter, and Instagram @Farefinder!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
