<div class="container-fuild" id="bg">
    <div class="container">
        <div class="row pt-3">
            <div class="col-sm-12">
                <p>Farefinder™ 2018-2020</p>
            </div>
        </div>
    </div>
</div>