/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css'; */


@import "assets/customStyles/style.css";


html,body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family :"Skyscanner Relative", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
