.card {
  /* margin: 20px 420px; */
}
.column {
  width: 40%;
  margin: 40px;
}

#seccol{
  float: right;
  margin-left: 40px;
}

#submit{
  margin-left: 20px;
}

@media (max-width:576px) {
  .column {
    width: 80%;
    margin: 40px;
  }
}
